[2019-12-23 17:30] gaborbernat opened #1468 "do an alpha release"
We should do an alpha release so people can test out what we have 👍

[2019-12-23 17:32] gaborbernat opened #1469 "link-app-data should mark linked source read only"
This is to avoid people to change some of these files and break other environments too.

[2019-12-23 17:36] gaborbernat commented on #286
This is becoming obsolete with #1366 now in full swing.

[2019-12-23 17:36] #286 closed

[2019-12-23 17:37] gaborbernat commented on #1039
This has been fixed on our rewrite branch, with #1366 now in full swing.

[2019-12-23 17:37] #1039 closed

[2019-12-23 17:38] gaborbernat commented on #165
This is becoming obsolete with #1366 now in full swing.

[2019-12-23 17:38] #165 closed

[2019-12-23 17:39] gaborbernat commented on #1095
This is becoming obsolete with #1366 now in full swing.

[2019-12-23 17:39] #1095 closed

[2019-12-23 17:40] gaborbernat opened #1470 "built-in pypy support"
For the rewrite.

[2019-12-23 17:40] gaborbernat opened #1471 "built-in pypy3 support"
For the rewrite.

[2019-12-23 17:41] gaborbernat commented on #1154
We should validate this with the rewrite.

[2019-12-23 17:41] gaborbernat commented on #1193
This is becoming obsolete with #1366 now in full swing.

[2019-12-23 17:41] #1193 closed

[2019-12-23 17:43] gaborbernat commented on #565
This is becoming obsolete with #1366 now in full swing. We'll reopen if someone can still replicate with that.

[2019-12-23 17:43] #565 closed

[2019-12-23 17:44] gaborbernat commented on #1334
Closing due to lack of response.

[2019-12-23 17:47] gaborbernat commented on #1314
So python 3 is no longer supported, so I guess this makes the issue obsolete-ish.

[2019-12-23 17:47] #1314 closed

[2019-12-23 17:49] gaborbernat opened #1472 "python3.4 on CI"
So officially we would like to support python3.4 for one more year; however, Azure decided to remove python3.4 from it's CI matrix very soon after the upstream deprecation. Now we can't test python3.4; we need to look into if and how we can still run these CI environments (with potentially not running coverage under them, as they can't be merged back).

[2019-12-23 17:53] gaborbernat commented on #1322
I believe this has been fixed with the rewrite branch.

[2019-12-23 17:53] #1322 closed

[2019-12-23 17:55] gaborbernat opened #1473 "relocatable support"
With the rewrite, the relocate-able feature has been shelved (was always experimental). Decide if we want to pursue and how that feature given all we learned with its first iteration.

[2019-12-23 17:56] gaborbernat commented on #1169
Superseded by #1473

[2019-12-23 17:56] #1169 closed

[2019-12-23 18:00] gaborbernat commented on #1437
I don't think this is an issue anymore, and if so please check if with the rewrite branch it still is.

[2019-12-23 18:00] #1437 closed

[2019-12-23 18:01] gaborbernat commented on #1452
This has been automatically resolved by the rewrite branch.

[2019-12-23 18:01] #1452 closed

[2019-12-23 18:02] gaborbernat commented on #1421
This will be fixed by the rewrite, where the progress can be tracked by https://github.com/pypa/virtualenv/milestone/7

[2019-12-23 18:02] #1421 closed

[2019-12-23 18:03] #480 closed

[2019-12-23 18:03] gaborbernat commented on #480
Now should be ok on our side.

[2019-12-23 18:05] gaborbernat commented on #1458
This is fixed by the rewrite branch I believe.

[2019-12-23 18:05] #1458 closed

[2019-12-23 18:06] #1432 closed

[2019-12-23 18:07] gaborbernat commented on #1431
The rewrite branch should fix this. If not we'll reopen.

[2019-12-23 18:07] #1431 closed

[2019-12-23 18:08] gaborbernat commented on #1427
This should be fixed by the rewrite branch.

[2019-12-23 18:08] #1427 closed

[2019-12-23 18:09] gaborbernat commented on #1420
closing as it's a tox issue

[2019-12-23 18:09] #1420 closed

[2019-12-23 18:10] gaborbernat commented on #1418
I think we should allow this to happen on user request, but cannot be the default; as that would mean we would out of box behave differently than the core venv. Feel free to create PR on top of the rewrite branch.

[2019-12-23 18:11] gaborbernat commented on #1416
This feels like a pip issue, so I'll close.

[2019-12-23 18:11] #1416 closed

[2019-12-23 18:12] gaborbernat commented on #1417
This means your python does not have SSL module. Such use case is not supported.

[2019-12-23 18:12] #1417 closed

[2019-12-23 18:13] gaborbernat commented on #1403
If you'd like please create a PR with fix against the rewrite branch. The issue seems highly specific to your use case and company, and as such, I don't think anyone will spend time and effort to support it. However, if you propose a solution (maybe behind a flag) I'd be open to considering it accepting it.

[2019-12-23 18:14] gaborbernat commented on #1413
This should work from within shells, how you're calling it?

[2019-12-23 18:14] #1413 closed

[2019-12-23 18:15] #1398 closed

[2019-12-23 18:15] #1406 closed

[2019-12-23 18:17] gaborbernat commented on #1290
The described use cases sound like what the project tox (https://tox.readthedocs.io/en/latest/) try to solve, so I'd suggest using that instead.

[2019-12-23 18:17] #1290 closed

[2019-12-23 18:19] gaborbernat commented on #1362
The old virtualenv cannot and will not support this. virtualenv 20, the rewrite, should. We need to validate, sadly AFAIK it's not possible to add the store python to the Azure CI. @zooba can you confirm that this still is the case, and will be going ahead?

[2019-12-23 18:20] gaborbernat commented on #1401
I think this should be solved by the rewrite branch, please confirm and if not we'll reopen.

[2019-12-23 18:20] #1401 closed

[2019-12-23 18:23] gaborbernat commented on #1393
Closing as it's not considered best practice, and we did not get anyone else requesting it.

[2019-12-23 18:23] #1393 closed

[2019-12-23 18:24] gaborbernat commented on #1352
we'll need to exam again this issue with the rewrite

[2019-12-23 18:25] gaborbernat commented on #159
The rewrite branch is close to release. I encourage you to try to create a plugin on top of it's plugin system that to support this. Initially let's keep it out of bound (aka you can have it as virtualenv-ironpython project). Once if matures we can pull it in here.

[2019-12-23 18:25] #159 closed

[2019-12-23 18:28] gaborbernat commented on #1368
This is not done by virtualenv, but pip whom we ask to install the seed packages. So the issue/feature request should be there.

[2019-12-23 18:28] #1368 closed

[2019-12-23 18:29] gaborbernat commented on #574
This should be fixed by the rewrite branch.

[2019-12-23 18:29] #574 closed

[2019-12-23 18:30] gaborbernat commented on #824
No longer an issue with the rewrite.

[2019-12-23 18:30] #824 closed

[2019-12-23 21:15] mayeut commented on #1437
Still an issue on master branch, not on rewrite branch.

[2019-12-23 22:50] gaborbernat commented on #1437
Then will be fixed once the rewrite lands.

[2019-12-28 09:43] gaborbernat commented on #1014
Duplicate of https://github.com/pypa/virtualenv/issues/457

[2019-12-28 09:43] #1014 closed

[2019-12-28 09:43] gaborbernat commented on #1392
Duplicate of https://github.com/pypa/virtualenv/issues/457

[2019-12-28 09:43] #1392 closed

[2019-12-28 09:43] gaborbernat commented on #1375
Duplicate of https://github.com/pypa/virtualenv/issues/457

[2019-12-28 09:43] #1375 closed

[2019-12-28 10:03] gaborbernat commented on #1472
Having had a good thought about this we might defer this to a post 20.0.0 world 🤔

[2019-12-30 18:16] digulla commented on #1368
Done: https://github.com/pypa/pip/issues/7528

[2019-12-31 14:34] johntovor commented on #1059
Wow, installing the specific version of venv worked for me. In my case python3.8-venv.

Thanks @jrperin

[2020-01-02 16:33] gaborbernat commented on #457
This now has been fixed, as long as the file system codec can handle it, we'll handle it too 👍 if not we'll raise appropriate error message 👍

[2020-01-02 16:33] #457 closed

[2020-01-02 16:44] #1468 closed

[2020-01-02 16:45] gaborbernat commented on #1154
Fixed part of #1477.

[2020-01-02 16:45] #1154 closed

[2020-01-02 16:49] gaborbernat commented on #1403
Closing due to lack of progress.

[2020-01-02 16:49] #1403 closed

[2020-01-02 16:51] gaborbernat commented on #935
I think the rewrite branch should have fixed this so please test it.

[2020-01-02 16:51] #935 closed

[2020-01-02 16:53] gaborbernat commented on #1288
I think the rewrite branch fixes this, please try again with it.

[2020-01-02 16:53] #1288 closed

[2020-01-02 16:54] gaborbernat commented on #767
In a post rewrite world this no longer exists, so closing for now.

[2020-01-02 16:54] #767 closed

[2020-01-02 16:56] gaborbernat commented on #1328
Closing due to lack of interest.

[2020-01-02 16:56] #1328 closed

[2020-01-02 17:51] pombredanne commented on #457
@gaborbernat Thank you ++

[2020-01-02 18:33] gaborbernat commented on #1466
A full old interface:

[code]

First, we can remove deprecated ones. Then, the relocate-able was by design an experimental mode, we'll remove that for now too:

[code]

[2020-01-03 13:02] #1466 closed

[2020-01-06 10:43] #1469 closed

[2020-01-06 10:46] gaborbernat commented on #1366
So the rewrite got to a state where I feel comfortable people having a look over it and giving some feedback. Please reach out to me if you have some free time to help with this; the plan is to have it be released by end of month 🤞 Note https://github.com/pypa/virtualenv/milestone/7 still need to be implemented, however, the core idea is there.

[2020-01-08 23:17] retracile commented on #845
I still see this same behavior on Mojave with Python 3.7.6 (installed via Homebrew).

[2020-01-09 10:33] gaborbernat commented on #845
Can you check with the rewrite branch?

[2020-01-09 11:09] pfmoore opened #1484 "[Rewrite] Creating a Python 2.7 environment does not copy python27.dll"
To reproduce, start with an environment with no Python 2.7 installed.

* Get the 2.7.17 MSI installer from python.org and run it.
* Select the "install just for me" option (the default option to install globally puts `python27.dll` in the windows directory, which masks the bug).
* Choose all defaults, but **deselect** "Register extensions" and "Add Python to PATH".
* `C:\Python27\python.exe -m pip

[2020-01-09 11:29] gaborbernat commented on #1484
Yeah, this seems like something we need to fix; I'll tackle this and other feedback issues after #1482, which turned out a lot harder than expected (pypy unicode support with files has lot of gaps compared to CPython 😢) Thanks!

[2020-01-09 15:44] retracile commented on #845
@gaborbernat Attempting to build the `rewrite` branch (fbdd782257d8eace7f5440a2b665f2ddb72e9db6) gives me a build error from `python3 setup.py build`.
[code]
which looks unrelated to this issue.

[2020-01-09 15:48] pfmoore commented on #845
You should use pip to do the build - `pip wheel .` - as the rewrite branch uses PEP 517 to define the build process.

[2020-01-09 15:53] gaborbernat commented on #845
The error you're getting is setuptools way of saying I don't support the new standard way of building python libraries (PEP-517/518). It's a setuptools bug at best, but as @pfmoore pointed you should use pip to build a wheel, or even better to point it to the virtualenv folder to install it (it will automatically build a wheel and install it in one go).

[2020-01-09 16:20] #1470 closed

[2020-01-09 16:20] #1471 closed

[2020-01-09 16:27] gaborbernat commented on #1362
In first iteration we can just mark the builtin/self-do method not support the store; to check if the python is store pyhton @zooba suggested:

[2020-01-09 16:30] gaborbernat opened #1486 "also bundle and install the wheel project"
Even though venv doesn't do this, as pointed out in https://github.com/pypa/virtualenv/pull/1481#issuecomment-571270069 this would give significant benefit so should be kept.

[2020-01-09 16:56] retracile commented on #845
Testcase:

[2020-01-09 16:59] retracile commented on #845
Testcase:
[code]

This fails under python3+virtualenv 16.7.9, and passes under python3+virtualenv-16.7.10.dev11+gfbdd782 (ie, the `rewrite` branch).

[2020-01-10 10:12] gaborbernat opened #1488 "support quotes in paths"
based on feedback https://github.com/pypa/virtualenv/pull/1481#discussion_r363312122 from @asottile

[2020-01-10 16:29] #1486 closed

[2020-01-10 17:07] gaborbernat commented on #1306
Reading through the issue again seems this is an issue in venv not in virtualenv; so I'll close for now.

[2020-01-10 17:07] #1306 closed

[2020-01-10 17:08] gaborbernat commented on #1472
Yeah, defer to 20.1.0 🤷‍♂ , for now, I'll run int manually before release.

[2020-01-10 17:34] #1484 closed

[2020-01-10 17:39] gaborbernat commented on #1002
I think here the deliverable is how should we handle upgrades; e.g. when we're running without clear against a folder that has some interpreter already there. We should probably, overwrite if the home of the source is the same, refuse/clear otherwise.

[2020-01-10 18:05] gaborbernat commented on #1464
@asottile any reason why this can't just be a pex?

[2020-01-10 18:11] asottile commented on #1464
I seem to remember pex doesn't have windows support but I could be misremembering -- there's also the additional issue of native dependencies (if any exist, I don't know quite what the tree has expanded to for `virtualenv`)

[2020-01-10 18:16] gaborbernat commented on #1464
yeah just found out Windows support is hacky at best; I'll take a look how we can generate a zipapp with dependencies 🤔

[2020-01-10 21:29] pfmoore commented on #1464
[Shiv](https://pypi.org/project/shiv/) might be worth a look. I used shiv for a while to package the old virtualenv, and it worked pretty well.

[2020-01-10 21:57] gaborbernat commented on #1464
Seems to be also just Python 3.6+ and no windows as I understood.

[2020-01-10 22:03] pfmoore commented on #1464
Shiv definitely works on Windows. But may well not support 2.7, I didn't need that.

[2020-01-11 02:58] 0cjs commented on #1002
@gaborbernat By "source" you mean that the path from which the `python` binary comes is the same as it was previously? This actually makes sense to me, since if you've got virtualenvs installed from a development version of Python (`/home/cjs/work/mypython/...`) you may rebuild and reinstall that Python, in which case you'd want to be able to easily update the copies of its files in the virtualenv

[2020-01-12 19:14] AndreLouisCaron opened #1493 "Setuptools v45.0.0 breaks virtualenv on Python 2"
**Foreword**: I am quite familiar with the whole January 1st, 2020 deadline and am in the process of dropping Python 2 across all my projects, but this surprise from setuptools is quite inconvenient regardless.  If you chose not to fix this, I will not judge anyone, but please don't lecture me about Python 2 being deprecated :-)

---

All my automated virtual environment creation scripts on Python

[2020-01-12 19:49] yoctozepto commented on #1493
I confirm this is a major issue. In OpenStack most gates are broken atm due to this. See: http://lists.openstack.org/pipermail/openstack-discuss/2020-January/011956.html

Thanks for reporting, /me late by half an hour - I thought virtualenv would use the pip's modern resolver but it seemingly does not.

[2020-01-12 19:52] yoctozepto commented on #1493
Already tracked in setuptools for another downstream https://github.com/pypa/setuptools/issues/1963

[2020-01-12 20:03] gaborbernat commented on #1493
Not sure why setuptools 45+ gets picked up, virtualenvs bootstrap should keep it 44 for setuptools. 🤔

[2020-01-12 20:14] yoctozepto commented on #1493
Here is the traceback: http://paste.openstack.org/show/788301/

legacy_resolve sounds like something that would discard the new rules.

[2020-01-12 20:19] yoctozepto commented on #1493
Nah, wrong avenue to explore, raw pip also ignores py version constraint (despite being advertised as working): http://paste.openstack.org/show/788302/

[2020-01-12 20:49] gaborbernat commented on #1493
I'll have a look and release a fix tomorrow. If anyone has time to make a pr before that would help.

[2020-01-12 21:20] gaborbernat commented on #1493
@yoctozepto can't seem to replicate your failure; can you give us the full creation log with triple verbosity?

[2020-01-12 21:55] pganssle commented on #1493
@gaborbernat If it's the same issue as pypa/pip#7586, then this may be a bug in [one of the PyPA mirrors @yoctozepto is using](https://github.com/pypa/pip/issues/7586#issuecomment-573460206).

Apparently one of them is not propagating the `python_requires` information correctly.

[2020-01-12 22:14] gaborbernat commented on #1493
If so, then this is a bug for that mirror; nothing to do with ourselves 🤷‍♂

[2020-01-12 22:14] #1493 closed

[2020-01-13 08:32] littlemo opened #1496 "Can't create new virtual environment under py2 after setuptools(45.0.0) which is never support py2"
Please add version limit for `setuptools` , like `setuptools~=44.0.0` , thanks
[code]

[2020-01-13 08:56] gaborbernat commented on #1496
We don't need too, the bundled pip automatically can understand python-requires of setuptools. I suspect this is a duplicate of https://github.com/pypa/virtualenv/issues/1493, if that's the case the bug is in your mirror, not in any of the software.

[2020-01-13 10:41] gaborbernat commented on #1448
As the test library, we probably can use https://github.com/sumerc/yappi 👍

[2020-01-13 11:10] eurekaqq commented on #457
Hi @gaborbernat , is this problem fixed in the latest master branch?
I used the master branch and got errors similar to [issue#1375](https://github.com/pypa/virtualenv/issues/1375).
if not, I can create a PR to fix this problem.

[2020-01-13 11:15] gaborbernat commented on #457
Not in the master branch, but the ``rewrite`` branch that will soon replace master.

[2020-01-13 11:21] eurekaqq commented on #457
OK , thanks for your reply.

[2020-01-16 11:10] gaborbernat commented on #1464
Solved via https://github.com/pypa/virtualenv/pull/1491, supporting python 2.7 & 3.4-3.9 👍 cpyhton and pypy

[2020-01-16 11:10] #1464 closed

[2020-01-16 14:15] laurent-laporte-pro opened #1498 "Wrong path for virtualenv.ini on Windows (documentation)"
On Windows, the documentation says that the path to `virtualenv.ini` is `%APPDATA%\virtualenv\virtualenv.ini`:

In `docs/reference.rst`:

[code]

It is wrong. The code search the `virtualenv.ini` file in `~\virtualenv\virtualenv.ini`:

[code]

To avoid regression, I suggest to fix the documentation.

[2020-01-16 14:30] gaborbernat commented on #1498
This has been fixed on the rewrite branch that will be fixed by end of the month.

[2020-01-16 14:30] #1498 closed

[2020-01-17 15:33] nmajin commented on #1496
Can you expand? I have python 2.7.17 installed via homebrew on macOS. virtualenv is trying to install setuptools version 45 which is expecting python3

[2020-01-17 16:11] pradyunsg commented on #1496
Which version of virtualenv is this?

Any recent version of pip wouldn't install setuptools 45 on Python 2 (there's a python_requires field for this), and virtualenv bundles a recent enough version of pip - one that understands the relevant metadata field.

[2020-01-17 18:28] nmajin commented on #1496
I was on version 16.7.5, but then just recently updated to 16.7.9:

[code]

Here is a test that fails:
[code]

Here is my environment:
[code]

[2020-01-17 20:43] gaborbernat commented on #1496
can you replicate it with ``-no-download``?

[2020-01-17 21:39] pfmoore commented on #1496
Also, do you have any sort of private PyPI mirror configured? If you have a mirror that doesn't supply the `data-requires-python` tag, pip won't know that setuptools 45.0.0 needs Python 3 when it looks for candidates, it will only find out once the install has been started - which would give the behaviour you are seeing.

@gaborbernat How does virtualenv select which (bundled) setuptools to instal

[2020-01-17 21:41] gaborbernat commented on #1496
Just delegates to pip, we just put what's available onto the find links.

[2020-01-17 21:42] gaborbernat commented on #1496
We haven't updated the bundled package to 45.0 so that's why probably did not run into this yet 🤔

[2020-01-17 21:47] gaborbernat commented on #1496
@pfmoore any way to install the correct wheel when the wheels are all in a folder? (No index) or is this unsupported?

[2020-01-17 22:57] pfmoore commented on #1496
I don't believe so. The new pip resolver might handle `Requires-Python` in metadata the same as `data-requires-python` (i.e., skip the wheel rather than accepting it and then erroring) but that's not confirmed yet. (I *think* that I'd consider the current behaviour of installing and then raising an error as a bug, but I'd need to think about the implications a bit more before I'd state that defini

[2020-01-18 09:39] kamachisundaram opened #1501 "ERROR: Command errored out with exit status 1: with Jupyter"
Thanks for submitting an issue!

If submitting a BUG please provide:
OS: windows 10
PIP: 19.3.1
Python: 3.8.0
Error:
pip install jupyter
below is the error
Using cached https://files.pythonhosted.org/packages/5d/97/8e43c2152a638cdb83d45644eb125c752abe67249f94bb3e3e29b0709685/pywinpty-0.5.7.tar.gz
    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\DELL\AppData\Local\Programs

[2020-01-18 10:08] gaborbernat commented on #1501
You need C++ compiler to that, though if anything this is an issue for jupyter itself - no wheels provided. (or pip https://github.com/pypa/pip)

[2020-01-18 10:08] #1501 closed

[2020-01-18 17:10] gaborbernat commented on #1332
https://github.com/pypa/virtualenv/pull/1500 should solve this now once and for all.

[2020-01-18 17:10] #1332 closed

[2020-01-18 17:11] gaborbernat commented on #1496
I'll create an issue in pip to discuss.

[2020-01-18 17:39] pfmoore commented on #1496
You could of course manually special-case setuptools, and install `setuptools < 45.0.0` for Python 2. It's not a solution, but would be a reasonable workaround for now. (Sorry if that's a glaringly obvious idea 🙂)

[2020-01-19 15:29] ssbarnea commented on #1334
I missed that notification, see few links:
* https://pypi.org/project/selinux/
* https://github.com/pycontribs/selinux

[2020-01-20 01:20] ozbillwang commented on #1142
https://superuser.com/questions/1475952/virtualenv-returns-errno-13-permission-denied

[2020-01-20 12:21] ikrambabai commented on #1493
The following worked for me getting out of this issue.

pip install --upgrade 'setuptools<45.0.0'

[2020-01-20 21:03] earonesty commented on #1418
i'd like to note that this was discussed in core: https://bugs.python.org/issue35003.   mostly closed because of lack of interest and some confusion about moving vs copying vs optionality

[2020-01-20 22:17] gaborbernat commented on #1418
The solution I can see here is to keep Scripts, that's needed for pip install and etc. However it would be reasonable to have an option to also generate bin that's just a junction for Scripts.

[2020-01-20 22:26] earonesty commented on #1418
i submitted a draft pr to core that does copy/link `scripts/activate` to `bin/activate` (probably won't happen but)

[2020-01-20 22:41] gaborbernat commented on #1418
I think copying would be a mistake the junction sounds like the good decision as that would be automatically kept in sync. Can you link the PR you've submitted it?

[2020-01-21 01:27] nmajin commented on #1496
Sorry for the late reply, so yes, I did confirm that the sonatype nexus repo is the issue. I haven't done research on this if sonatype was releasing a fix/feature or even has one for the `data-requires-python` tag, would you happen to know?

[2020-01-21 12:25] gaborbernat commented on #1362
This now has been achieved as part of https://github.com/pypa/virtualenv/issues/1362. Virtualenv will correctly mark the store python as not compatible with its builtin strategy and fallback to delegate the task to the venv module of the store python. The test suite of the project passes. Furthermore, now we will use the symlink instead of the copy method if the Windows OS supports it (we test thi

[2020-01-21 12:25] #1362 closed

[2020-01-21 12:28] gaborbernat commented on #1467
Part of https://github.com/pypa/virtualenv/issues/1448

[2020-01-21 12:28] #1467 closed

[2020-01-21 13:27] gaborbernat commented on #1448
Where I've got is that pip will inject the virtual environment include folder onto the include path, however, can there be any content there? Standard library headers are already added as part of the standard library path; so the question feels to me goes towards do any package install headers that would as such not be available globally, but only within a virtual environment?

[code]

[2020-01-21 19:12] pamelars86 commented on #1493
I am working with a project that is still using python 2.7 :(, and I had the same problem.
But, using command above (by ikrambabai), it worked again!! :D
Thanks!

[2020-01-22 14:00] fschulze commented on #1496
For anyone stumbling over this, for me the issue was an old devpi instance which didn't have support for ``data-requires-python``.

[2020-01-22 14:09] earonesty commented on #1418
Links to the PR and discussion are at the core issue ticket.

[2020-01-22 15:49] gaborbernat commented on #1418
So it's https://github.com/python/cpython/pull/18083.

[2020-01-23 17:47] warnes commented on #1366
Feature request:  Provide a mechanism for defining custom environment variables, for instance by placing a `env.txt` file in the venv bin directory with the standard format:
[code]

[2020-01-23 17:51] warnes commented on #1124
I would really appreciate this feature.  It would allow me to consolidate multiple configure files into venv.

For my purposes, it would be ideal to placing a file, say `env.txt` in the venv bin directory with definitions a standard format:
[code]
and then having the activate and deactivate scripts process this file to set/unset the specified variables.

[2020-01-23 19:04] gaborbernat commented on #1366
I don't think I understand your use case? How would these environment variables be used, set, when?

[2020-01-23 19:09] gaborbernat commented on #1366
A small update; I've managed to close most blocking issues, other than two which still need some love: testing include headers + caching python interrogation calls with some lock applied over the app data, so we can create virtual environments in parallel (to different locations). At the current pace I might be a few day late... but definitely should be out by 7th February.

[2020-01-24 11:42] pradyunsg commented on #1366
What's our plan in terms of the rollout? Would we have a beta released prior to the main release?

[2020-01-24 11:46] gaborbernat commented on #1366
Yeah, want to get something out Monday... And then leave tentatively a week for feedback, fixes... And then replace master with rewrite and release.

[2020-01-24 11:57] pradyunsg commented on #1366
I'm not 100% sure that a week would be enough and we should *definitely* communicate across multiple channels that we want folks to try out the beta.

[2020-01-24 11:58] gaborbernat commented on #1366
The keyword there was *tentatively*. I'm optimistic here, given the amount of effort I've put in I'm not expecting major issues, but 🤷‍♂

[2020-01-24 17:23] ostefano commented on #1493
However this is still critical when creating a new virtual environment for python 2.7, since `virtualenv` would download `setuptools-45.0.0`, and no upgrade (downgrade via pip with `pip install --upgrade 'setuptools<45.0.0'`) would actually remove it. Only solution is to download the wheel manually.

[2020-01-24 17:33] gaborbernat commented on #1493
This should only happen if you're behind an index server that does not propogate python-requires... so I'd recommend fixing the index server.

[2020-01-24 17:34] ostefano commented on #1493
@gaborbernat not that I am aware of. Is there a way I can check it?

[2020-01-24 18:07] gaborbernat commented on #1493
Pass in the -v flags for ```pip install setuptools -vvv```?

[2020-01-24 18:21] ostefano commented on #1493
That works and the correct version is installed:

[code]

The problem arises only when creating the virtual environment.

[2020-01-24 18:23] raul-openai commented on #872
Running into this as well.

[2020-01-26 19:27] AndreLouisCaron commented on #1493
@ostefano It was the same for me.  I worked around this by installing `setuptools` explicitly:

[code]

[2020-01-28 12:17] gaborbernat commented on #1366
[virtualenv 20.0.0 beta1 is available](https://discuss.python.org/t/virtualenv-20-0-0-beta1-is-available/3077).

[2020-01-28 13:50] matthew-brett opened #1508 "Integration with virtualenvwrapper"
Congratulations on the rewrite.

I notice that `virtualenvwrapper` doesn't integrate with the new beta:

[code]

Sure enough - I believe it is looking for a script `activate` - but the script file now depends on the shell - `activate.sh` etc.

It would be good if this could work somehow - would it be reasonable to create / link a default `activate` script for this case?  Or should virtualenvwrappe

[2020-01-28 14:05] gaborbernat commented on #1508
This seems an oversight on our side, indeed should be just ``activate`` not ``activate.sh``.

[2020-01-28 14:35] gaborbernat commented on #1508
Resolved in #1509

[2020-01-28 14:35] #1508 closed

[2020-01-28 14:45] matthew-brett commented on #1508
Excellent - thanks.

[2020-01-28 15:02] bskinn opened #1510 "Default verbosity on v20.0.0b1/Win10 gives no output; '-v' gives too much to serve as a concise summary of the actions taken"
A bit more output in the default verbosity would be nice; perhaps not identical to the prior incarnation, but on that level of detail.

**Thank you** for all the work on this!!

----

Windows 10, virtualenv 16.7.9:

[code]

virtualenv 20.0.0b1:

[code]

virtualenv 20.0.0b1, with `-v` flag:

[code]

[2020-01-28 15:04] pfmoore commented on #1510
I actually like the new "quiet" default.

[2020-01-28 15:10] bskinn commented on #1510
I'm sure I'll get used to it if that's where it stays, but I'd prefer at least a short happy-path `Environment created` or `Environment created in {PATH}` message.

CLIs that don't say *anything* about what they've done make me a bit antsy.

[2020-01-28 15:13] gaborbernat commented on #1510
@rbtcollins dunno; not having output if there's no warn/error seems to be sensible. Neither mkdir, touch, rm commands print stuff 🤔 It's more in Linux Mantra.

[2020-01-28 15:15] gaborbernat commented on #1510
The single -v prints one line per phase (5 overall), so I think it's sane IMHO. 🤔

[2020-01-28 15:16] bskinn commented on #1510
Yeah, but creating a virtualenv is a more complex operation than those POSIX commands are.

No, sorry, I wrote poorly -- I think the output that `-v` produces is great for a `-v` invocation. It's just that there's no middle ground between no output by default, and the `-v` output with `-v`.

[2020-01-28 15:19] bskinn commented on #1510
More broadly, apologies for diving right into a bikeshedding discussion -- it's working so well so far that this level of nitpick is the only issue I've had!

[2020-01-28 15:25] gaborbernat commented on #1510
There were a few duplicate information on the single verbosity, addressed part of https://github.com/pypa/virtualenv/pull/1511

[2020-01-28 15:32] matthew-brett opened #1512 "Virtualenv 20.0.0b1 error creating venv for brew python2"
On my Mac with Homebrew Python2 (and 3):

[code]

I get:

[code]

This works without error for current stable virtualenv.  Is this intended?

[2020-01-28 15:34] gaborbernat commented on #1512
@matthew-brett I'll need to validate, thanks for bringing this to my attention.

[2020-01-28 15:40] gaborbernat commented on #1512
Hmmm, I cannot reproduce this 🤔 can you post the output with ``-vvv``?

[2020-01-28 15:43] matthew-brett commented on #1512
Sure:

[code]

[2020-01-28 15:55] gaborbernat commented on #1512
This part seems the relevant information:
[code]

Seems somehow ``/usr/local/bin/python2`` translates to ``/usr/local/bin/python2.7``... What does ``/usr/local/bin/python2.7`` points too?

[2020-01-28 15:58] matthew-brett commented on #1512
It gives:

[code]

Starting the interpreter directly with `/usr/local/bin/python2` works OK, but I guess that follows from the fact it works from older virtualenv.

[code]

[2020-01-28 15:59] gaborbernat commented on #1512
I think https://github.com/pypa/virtualenv/pull/1513 will fix this if you can give it a try 🤔

[2020-01-28 16:02] gaborbernat commented on #1512
To be fair the correct test here would be to try to create a python first with ``/usr/local/bin/python2.7`` and then ``/usr/local/bin/python2``... and both should work.

[2020-01-28 16:50] gaborbernat commented on #1512
I believe https://github.com/pypa/virtualenv/pull/1513 fixed this, at least according to my tests, if not please feel free to report back and we'll reopen the issue.

[2020-01-28 16:50] #1512 closed

[2020-01-28 16:52] gaborbernat commented on #1510
I'll close this now as I tend to agree with @pfmoore that the quiet mode by default is fine. It also mirrors how venv operates. If more people will comment on this issue we might add some type of report generation in some shape or form.

[2020-01-28 16:52] #1510 closed

[2020-01-28 16:52] matthew-brett commented on #1512
With the unmodified beta, this works:

[code]

Either works with your current `discovery` branch.

Thanks for your quick reply.

[2020-01-28 16:53] gaborbernat commented on #1473
I'll close this for now, not sure how we could do this with console scripts...

[2020-01-28 16:53] #1473 closed

[2020-01-28 16:54] gaborbernat commented on #1512
Thanks for taking the time to test-drive the new version

![thanks](https://media.tenor.co/images/cddcc354993a401d0315d53e61ca13d0/tenor.gif)

[2020-01-28 23:09] asottile opened #1514 "20b1 "RuntimeError: failed to find interpreter for Builtin discover of python_spec='venv1/bin/python'""
this is breaking some tests for [pre-commit](https://pre-commit.com)

here's a minimal case:

[code]

[code]

[code]

[2020-01-28 23:12] asottile opened #1515 "20b1: "RuntimeError: failed to detect cpython3.6.8-64|...""
this is breaking some tests for [pre-commit](https://pre-commit.com)

this is similar to #1514 but involves absolute paths

here's a minimal reproduction:

[code]

[code]

[code]

[2020-01-28 23:26] gaborbernat commented on #1515
I think this will be https://github.com/pypa/virtualenv/issues/1512, cab you try rewrite branch?

[2020-01-28 23:26] gaborbernat commented on #1514
I think this will be https://github.com/pypa/virtualenv/issues/1512, cab you try rewrite branch?

[2020-01-28 23:27] gaborbernat commented on #1514
Also please post runs with -vv so we get more information 😊

[2020-01-28 23:43] asottile commented on #1515
still broken -- here's with `rewrite` and `-vv`:

[code]

[code]

[2020-01-28 23:45] asottile commented on #1514
still broken -- here's with `rewrite` and `-vv`:

[code]

[code]

[2020-01-28 23:53] gaborbernat commented on #1515
So according to the host prefix the executable should be either under usr or usr bin, where is it?

[2020-01-28 23:57] gaborbernat commented on #1514
This seems like a valid bug, we probably don't handle relative paths yet, will take a look 👍

[2020-01-29 00:06] asottile opened #1516 "20b1: virtualenv creation fails in parallel: "AttributeError: 'NoneType' object has no attribute 'lock_file'""
[code]

I expect this to block for a reasonable amount of time (maybe max 60s) and succeed in creating the virtualenvs, the logging around locking appears to be broken

[code]

(the actual interesting stuff is in the logs)

[code]

[code]

[2020-01-29 00:06] asottile commented on #1515
[code]

[2020-01-29 00:07] asottile commented on #1514
it may also be helpful to note that `venv1/bin/python` is itself a symlink:

[code]

just noticed this while looking at it

[2020-01-29 01:53] asottile commented on #1496
at least for OP, this is probably that their mirror `http://devpi.intra.xx.cn:80` does not support the `data-requires-python` metadata

[2020-01-29 10:49] mgedmin opened #1517 "20b1: problems with editable installs"
I've decided to try running `tox` on [all the Python projects I maintain](https://projects.gedmin.as/) with virtualenv 20.0.0b1, to check for regressions in the new beta.  Three of the projects failed, all on Python 2.7:

- gtimelog (python: No module named gtimelog)
- irclog2html (ImportError: No module named zope.testrunner)
- zodbbrowser (ImportError: No module named zope.testrunner)

Here's ho

[2020-01-29 10:50] mgedmin opened #1518 "20b1: problems with namespace packages"
I've decided to try running `tox` on [all the Python projects I maintain](https://projects.gedmin.as/) with virtualenv 20.0.0b1, to check for regressions in the new beta.  Three of the projects failed, all on Python 2.7:

- gtimelog (python: No module named gtimelog; I've created #1517 for this one).
- irclog2html (ImportError: No module named zope.testrunner)
- zodbbrowser (ImportError: No module

[2020-01-29 10:56] mgedmin commented on #1518
For the record, when I create a virtualenv using an older version of virtualenv (15.1.0, packaged by Ubuntu 19.10), there's also no `__init__.py` in site-packages/zope.  The namespace package magic is done via site-packages/zope.*-nspkg.pth files, and they're the same in both virtualenvs.

[2020-01-29 11:11] mgedmin commented on #1517
One difference between virtualenv-created-with-20b1 and virtualenv-created-with-15 appears to be in sys.path: the working virtualenv has ~/src/gtimelog/src in it, the non-working one doesn't.

They both have identical easy-install.pth files in site-packages, and they both have identical gtimelog.egg-link files.

Could it be that the core problem with both this and #1518 is that `*.pth` files are n

[2020-01-29 11:38] gaborbernat commented on #1496
Closing for now as the underlying issue seems to be either in the mirrors or pip itself.

[2020-01-29 11:38] #1496 closed

[2020-01-29 11:40] gaborbernat commented on #1366
As the beta is out, I feel this issue served is the purpose. I'll close and we can discuss more focused on dedicated issues.

[2020-01-29 11:40] #1366 closed

[2020-01-29 12:09] gaborbernat commented on #1517
@mgedmin we no longer ship our own site.py but rather use the host ``site.py``, so in theory, it well could be that Ubuntu decided to not honour pth files in their ``site.py`` which causes the issue. This also explains why I can't reproduce this on macOS.

[2020-01-29 12:42] RonnyPfannschmidt opened #1520 "20b1: common shell activate script without extension missing"
with 20b1 the activate script without extension is gone, only the one with `.sh` is still there

for courtesy a symlink or copy would be neat

also thanks!

[2020-01-29 12:52] gaborbernat commented on #1517
I think https://github.com/pypa/virtualenv/pull/1521 solves this. Please can you validate?

[2020-01-29 12:52] gaborbernat commented on #1518
I think https://github.com/pypa/virtualenv/pull/1521 solves this. Please can you validate?

[2020-01-29 12:57] gaborbernat commented on #1520
Already resolved under https://github.com/pypa/virtualenv/issues/1508

[2020-01-29 12:57] #1520 closed

[2020-01-29 13:23] mgedmin commented on #1518
Yes, #1521 fixes this.

(Why does virtualenv on that branch say it is version 0.1.dev51+gd23e5ac?  This makes tox 3.14.3 unhappy, due to its virtualenv>=16.0.0 version constraint.  Anyway, that's immaterial and pip doesn't enforce version constraints anyway, only warns about them.)

[2020-01-29 13:23] mgedmin commented on #1517
Yes, #1521 fixes this.

[2020-01-29 13:30] #1517 closed

[2020-01-29 13:30] #1518 closed

[2020-01-29 13:30] gaborbernat commented on #1518
Probably does not pull in the git tags 🤔 how did you install the branch version?

[2020-01-29 13:39] mgedmin commented on #1518
[code]

and yeah, there are no tags in the git history of this particular branch.

[2020-01-29 13:44] gaborbernat commented on #1515
Can't seem to reproduce myself. @asottile can you please run with https://github.com/pypa/virtualenv/pull/1522, and report why the interpreter was refused?

[2020-01-29 14:32] gaborbernat commented on #1514
Fixed in #1523

[2020-01-29 14:32] #1514 closed

[2020-01-29 15:23] #1516 closed

[2020-01-29 15:24] gaborbernat commented on #1516
Feel free to validate 👍

[2020-01-29 16:29] asottile commented on #1516
appears fixed, thanks!

[2020-01-29 16:31] asottile commented on #1514
still failing for me, but now the same way as in #1515 so I'll continue that discussion there:

[code]

[2020-01-29 16:34] asottile commented on #1515
[code]

[code]

___

my hunch is that the `virtualenv` I used to make the first virtualenv is installed to an older virtualenv which was created before ubuntu released a patch release -- it differs from the system python:

[code]

this is a fairly common situation (especially on releases which roll more often) and would be a regression from old-virtualenv

[2020-01-29 17:07] asottile opened #1525 "20b1: --download / --no-download help text is ambiguous"
[code]

my reading of this is that `--no-download` is now the default, but it's potentially a little confusing -- I don't really have any good suggestions on how to format this properly, an ideal formatting would be something like:

[code]

(or something like that)

I will send a PR to correct the casing of PyPI though :)

[2020-01-29 17:33] vphilippon opened #1527 "20b1 feedback: Unable to generate bash "activate" script on Windows."
Hello!

Working on Windows 10, using Git Bash as my default shell pretty much everywhere.

From my understanding, the bash activation script is not generated by default on Windows anymore.
That's going to break users in a similar solution to mine.

But the really bad news for me:
[code]
`bash` is considered not available on Windows, and that's a no-go for me, or anyone using a bash equivalent on W

[2020-01-29 17:49] gaborbernat commented on #1515
Indeed. Seems the host python for the ``~/opt/venv/bin/python`` is with 3.6.8... however ``/usr/bin/python3.6`` is 3.6.9...

Now I wonder how can ``~/opt/venv/bin/python`` still be 3.6.8? Did you copy the executable? (as I'd expect to be 3.6.9 in case of a symlink). If so, we're in position, because other than the executable everything else (libs, standard library, etc) will be python 3.6.9, not 3

[2020-01-29 17:53] asottile commented on #1515
`~/opt/venv` was created using virtualenv 16.x which copies the executable in

this would be **really bad** if this is not fixed, basically every ubuntu update would break my entire system (which runs entirely out of virtualenvs -- no system installs)

[2020-01-29 18:37] gaborbernat commented on #1525
The reason why we have those two separate is to be compatible with virtualenv 16 at the interface level. 🤔 Though maybe we can *hack* argparse to accept to merge those two.

[2020-01-29 18:39] gaborbernat commented on #1527
Does anyone have any idea how we can check if bash is available on Windows?

[2020-01-29 18:40] gaborbernat commented on #1527
Though maybe we should generate both bash and fish by default all the time 🤷‍♂ https://fishshell.com/ seems to be also available on all platforms.

[2020-01-29 19:22] gaborbernat commented on #1515
Ok, added a fallback system to accommodate for system upgrades. I think this should fix your use case now.

[2020-01-29 19:28] asottile commented on #1515
[code]

looks like there's a typo hehe -- should be `micro` I believe instead of `patch`

[2020-01-29 19:30] gaborbernat commented on #1515
So sorry for that, you're right, push a fixed commit.

[2020-01-29 19:35] asottile commented on #1515
getting there :)

[code]

[2020-01-29 19:41] gaborbernat commented on #1515
Can you try again?

[2020-01-29 19:45] asottile commented on #1515
similar (same?) trace

[code]

[2020-01-29 19:50] gaborbernat commented on #1515
I'll be back tomorrow with better tests 😅

[2020-01-29 19:51] asottile commented on #1515
<3 thanks for this, I'll see if I can make a docker image in the meantime

[2020-01-29 20:27] asottile commented on #1515
here's a `Dockerfile:

[code]

`t.sh` is `chmod +x`

[2020-01-30 11:44] gaborbernat commented on #1515
This requires some major refactor, as we effectively should be resolving to the system python instead of the virtual environments... and this messes up our current caching. It must be done though, just will take a day or two more FYI.

[2020-01-31 07:05] asottile commented on #1515
via #1522

[2020-01-31 07:05] #1515 closed

[2020-01-31 20:43] c0d3h4x0r commented on #56
This is still a problem.  I hit it most recently on Mac -- the fix for https://github.com/pypa/virtualenv/issues/93 did not resolve the issue on Mac.

[2020-01-31 20:44] c0d3h4x0r commented on #56
Someone need to reactivate this issue.  Just because it has sat around without getting any traction, that doesn't mean it's no longer an issue.  It just means the project maintainers have not prioritized it like they should.

[2020-01-31 20:45] c0d3h4x0r commented on #945
That did not fix it on Mac.

[2020-01-31 20:46] c0d3h4x0r commented on #93
This is still a problem on Mac, so this issue should really be reactivated.

[2020-01-31 20:47] c0d3h4x0r commented on #425
This is still an issue on Mac.  Someone need to reactivate this issue.  Just because it has sat around without getting any traction, that doesn't mean it's no longer an issue.  It just means the project maintainers have not prioritized it like they should.

[2020-01-31 20:57] gaborbernat commented on #425
Hello, just to clear up things here. Project maintainers "should" do something is a very bad way to look at this. This is an open source project, project maintainers maintain the package, which means they ensure that patches applied don't break the world, as much as possible. If there's issue please look it in the spirit of open source and post a solution pull request, rather then telling them off

[2020-01-31 22:17] vphilippon commented on #1527
FYI I tested the top of the `rewrite` branch and the bash script is present and working on Windows so far.

Thanks!

[2020-01-31 22:46] gaborbernat commented on #1527
Thanks for testing, we run the bash test on windows too so we should be good going ahead.

[2020-02-01 07:31] Turning14 commented on #35
mkvirtualenv doesn't work on my laptop it returns 'raise OSError("Command () failed with error code ()".format(cmd_desc, proc.returncode)). what do i do please

[2020-02-01 07:33] Turning14 opened #1532 "mkvirtualenv"
mkvirtualenv doesn't work on my laptop it returns 'raise OSError("Command () failed with error code ()".format(cmd_desc, proc.returncode)). what do i do please

[2020-02-02 17:42] pelliu opened #1537 "Failed install virtualenv 20.0.0b1 for Ubuntu14.04"
Our image(OS Ubuntu 14.04) test virtual env installation failed, the python version we installed is 2.7.6, and the error log thus, but I saw the latest virtualenv version can support py2.7, so anyone can help on this? Thanks!

[20:14:39]	[Step 5/5] Traceback (most recent call last):
[20:14:39]	[Step 5/5]   File "/usr/local/bin/pip", line 7, in <module>
[20:14:39]	[Step 5/5]     from pip._internal.

[2020-02-02 18:33] gaborbernat commented on #1537
Can you display the verbose install log (pip install -vvv virtualenv), also seems like you're installing 16.7.7 instead of 20.0.0b1

[2020-02-06 09:29] #1527 closed

[2020-02-06 09:29] gaborbernat commented on #1537
Closing for no feedback. We'll reopen if you can get back to us.

[2020-02-06 09:29] #1537 closed

[2020-02-06 09:30] gaborbernat commented on #1532
Not sure what mkvirtualenv does, but is not maintained by this projec.t

[2020-02-06 09:30] #1532 closed

[2020-02-06 09:31] gaborbernat commented on #945
Can you test with ``20.0.0b2``? I believe that should have fixed this.

[2020-02-06 09:31] #945 closed

[2020-02-06 09:33] gaborbernat commented on #1525
Updated message slightly to contain enable/disable feature aspects, see https://virtualenv.pypa.io/en/rewrite/cli_interface.html#download

[2020-02-06 09:33] #1525 closed

[2020-02-06 09:33] gaborbernat commented on #1448
Now works.

[2020-02-06 09:33] #1448 closed

[2020-02-06 09:34] gaborbernat commented on #845
Fixed in the rewrite as per above.

[2020-02-06 09:34] #845 closed

[2020-02-06 09:37] gaborbernat commented on #1378
We explicitly check for this now upfront, so things should work on the rewrite branch.

[2020-02-06 09:37] #1378 closed

[2020-02-06 09:44] gaborbernat opened #1541 "run fedora tests on CI"
We should run tests against Fedora OS; this could be done via docker images on Azure Pipelines.

[2020-02-06 09:45] gaborbernat opened #1542 "run centos test on CI"
We should run tests against Fedora OS; this could be done via docker images on Azure Pipelines.

[2020-02-06 09:46] gaborbernat commented on #490
I think the rewrite should have fixed this.

[2020-02-06 09:46] #490 closed

[2020-02-06 09:47] gaborbernat commented on #1320
I think this is not fixed on the rewrite branch.

[2020-02-06 09:47] #1320 closed

[2020-02-06 09:47] gaborbernat commented on #874
I think the rewrite branch (20.0.0b2) fixed this.

[2020-02-06 09:47] #874 closed

[2020-02-06 09:48] gaborbernat commented on #1338
I think the rewrite branch fixed this.

[2020-02-06 09:48] #1338 closed

[2020-02-06 09:49] gaborbernat commented on #1182
I think the rewrite branch, release 20.0.0b2 fixed this.

[2020-02-06 09:49] #1182 closed

[2020-02-06 09:51] gaborbernat commented on #980
Not sure what's a good thing to do here. virtualenv does not know if the target is used or not. Doing the rename would similarly fail not?

[2020-02-06 09:52] gaborbernat commented on #1342
I think the rewrite branch, release 20.0.0b2 fixed this.

[2020-02-06 09:52] #1342 closed

[2020-02-06 09:54] gaborbernat commented on #1081
@follower can you raise the issue upstream too? (aka in cpython bug tracker; would be interesting to see what the ``venv`` maintainers thing about this).

[2020-02-06 09:54] #1465 closed

[2020-02-06 09:54] gaborbernat commented on #1337
I think the rewrite branch, release 20.0.0b2 fixed this.

[2020-02-06 09:54] #1337 closed

[2020-02-06 12:46] cstorey commented on #980
At least on Unix-family systems, it's safe to atomically rename a temporary file over the target, since the original file's data is decoupled from the name in the filesystem, and can exist independently.
I don't think that will be true on other systems, such as Windows, though. Although there, it'll be a choice between:

 * Fail because you can't rename over a file that is currently in use
 * Eith

[2020-02-06 18:11] gpiks commented on #1399
I could take this up and will try to work on this.

[2020-02-07 00:02] grant-humphries commented on #1336
Reinstalling conda with a the base Python as Python 3 instead of 2 resolved this issue for me

[2020-02-07 17:49] asottile opened #1543 "zipapp virtual environment creation fails if zipapp path not absolute on python3.4/3.5/3.6"
[code]

[code]

[2020-02-07 17:52] asottile opened #1544 "zipapp: could have a shebang"
https://docs.python.org/3/library/zipapp.html#zipapp.create_archive

in particular the `interpreter` argument -- should we set something for it?

that way someone could do:

[code]

[2020-02-07 17:54] gaborbernat commented on #1544
I'm reluctant on this; this would encourage running things like that, but that can only work on UNIX; I kinda prefer the explicit over implicit interpreter here? Any strong arguments against?

[2020-02-07 17:57] asottile commented on #1544
yeah I guess that's a good point, it's hard to pick a good interpreter here -- maybe `python3`?

or just scrap this :man_shrugging:

[2020-02-07 18:41] dholth commented on #1544
Doesn't the py launcher for Windows know how to read pyz shebang also?

[2020-02-07 19:44] gaborbernat commented on #1544
Yeah, it knows. But what should be the shebang value that's sane on all platforms? Feels like that's more useful when you know your target python, e.g. you control where you deploy the zipapp.

[2020-02-07 20:04] pradyunsg commented on #1544
Should be, yea. For the versioned URLs, we could add the shebangs with per-interpreter names (`python3.8`). I *think* `py.exe` is smart enough to translate those, even for pyz files -- but it wouldn't hurt to make sure before we actually change stuff. :)

I also think we *can* change names on the get-pip repository if we want to.

[2020-02-08 11:09] gaborbernat commented on #1544
I'll mark this as something we should do but not blocker for 20.0.0, which is still planned for Monday (we have one blocker issue just for that).

[2020-02-08 11:11] gaborbernat commented on #1543
Feels like I've published a bad zipapp 🤔 to get-virtualenv.

[2020-02-08 11:31] gaborbernat commented on #1543
@asottile I'm having trouble replicating this, can you please run it with `-vvv`? And post the log like that. You might want to start with clearing virtualenv appdata before doing that (``-h`` will display its location).

[2020-02-08 11:34] gaborbernat commented on #1543
Never mind managed to replicate 😆

[2020-02-08 11:39] gaborbernat commented on #1543
Sigh, this is just another manifestation of upstream bug https://gitlab.com/python-devs/importlib_resources/issues/75; just pass the absolute path for now and you'll be OK; until we fix upstream.

[2020-02-09 06:56] mhoonjeon opened #1545 "RuntimeError: 'Exec format error' when using pipenv+pyenv-installed python 3.8.1 to install environment"
Thanks for submitting an issue!

If submitting a BUG please provide:

- [X ] Minimal reproducible example or detailed descriptions
[code]
This gives me an output of
[code]
- [ ] OS and `pip list` output
using virtualenv 20.0.0b2

Please see [this issue for more detail](https://github.com/pre-commit/pre-commit/issues/1321)

[2020-02-09 10:58] gaborbernat commented on #1545
What's the content of the executable in question? Says it's not executable 🤔 Can you post please the output by passing the -vvv flag? Please also attach the ls -al of the executable in question. Thanks!

[2020-02-09 11:01] gaborbernat commented on #1545
Please also attach the command you've used to install your pyenv python in question 😊

[2020-02-10 10:30] follower commented on #1081
Unfortunately I'm unlikely to get to doing that any time soon but would welcome anyone else who wishes to do so. :)

[2020-02-10 11:11] yelsherbini commented on #1545
Receive the same error now since virtualenv 20.0.0 is released. I receive the same error running tox with python 3.7.

The error:
[code]
To reproduce:
[code]

[2020-02-10 12:31] dpvpro opened #1549 "--relocatable alternatives"
I used the --relocatable flag. The new release 20.0 does not have this flag. How do I now create relocatable environments?

[2020-02-10 12:38] gaborbernat commented on #1549
The relocate-able flag has been always experimental, and never really worked; we no longer support it and the feature has been entirely dropped (hence the major release). Explain your use case, and we might be able to suggest an alternative approach.

[2020-02-10 13:03] johnthagen opened #1551 "ImportError: cannot import name 'ensure_text'"
Apologies I don't have a completely reproducible environment yet, but since `virtualenv==20.0.0` was released [3 hours ago](https://pypi.org/project/virtualenv/) I wanted to get this reported as soon as I could as it likely could affect others.

I'm not 100% certain this is `virtualenv`'s fault, but I have previous builds that worked and the only major difference between them (and last week) was `

[2020-02-10 13:05] Larandar commented on #1551
I have similar problems with `from pkg_resources import get_distribution ModuleNotFoundError: No module named 'pkg_resources'` starting 3 hours ago in every CI job.

[2020-02-10 13:12] johnthagen commented on #1551
cc @gaborbernat for awareness

[2020-02-10 13:13] dpvpro commented on #1549
[code]

This is an excerpt from Dockerfile. This is an excerpt from Dockerfile. Will the code work correctly if you remove the --relocatable flag. That is, I need to create my own isolated environment.

[2020-02-10 13:25] gaborbernat commented on #1549
Inside a docker, I would say 90% it would. But to make sure you'd have to liaison with who maintains that docker code, might really on subtle differences of how we handled relocatable.

[2020-02-10 13:28] gaborbernat commented on #1551
@Larandar can you post a link? The error could mean our application data folder is missing for some reason. Ideally for reproducing and fixing the issue, we'd want the ``virtualenv --vvv`` output, so we can know better what's happening. Apologies for the disruption this might cause to you.

[2020-02-10 13:29] gaborbernat opened #1552 "virtual environments created via relative paths on Windows creates bad console executables"
Seems https://docs.python.org/3/library/pathlib.html#pathlib.Path.resolve does not generate the absolute path on Windows, but does everywhere else.

[2020-02-10 13:30] gaborbernat commented on #1552
An example of this can be seen in our own CIs zipapp/readme tox environments.

[2020-02-10 13:32] gaborbernat opened #1553 "incorrect discovery for system executable"
Seems sometimes venvs created set their base executable to themselves... In this case, we accept this without question, so we threat virtual environments as system pythons.

[2020-02-10 13:34] pradyunsg commented on #1552
There is an undocumented `Path.absolute` method, which might be what you want here.

I suggest passing the Path object through a `os.path.realpath(os.path.abspath(path))` though -- it's documented and works exactly like we want it to. (maybe the `abspath` call here is unnecessary?)

[2020-02-10 13:36] gaborbernat commented on #1552
In my experience resolve is much more reliable in resolving symlinks, so I prefer that; I'm just also invoking absolute which I'm fine, already submitted via #1550

[2020-02-10 13:52] tobiasbrunner commented on #1551
Ran into the same issue on Travis CI ([log](https://travis-ci.org/strongswan/strongswan/jobs/648386815#L3255)). `virtualenv` is pulled in as dependency of `tox` via `pip install --user tox`, which results in this error ([line 997 in the log](https://travis-ci.org/strongswan/strongswan/jobs/648386815#L997)):

[code]

[2020-02-10 13:54] joker-official commented on #1551
Same problem here, after downgrading to `16.7.9` it worked again, then after upgrading to `20.0.0` it also updated `six` to `1.14.0`, which made it work. So somehow the `six` dependency was missing ... what I can see from the logs, `virtualenv` was pulled in from `pip install tox`.
[code]
No error on that `pip` command, only `ImportError: cannot import name 'ensure_text'` when trying to use it.

[2020-02-10 13:56] johnthagen commented on #1551
I can confirm that in my initial docker/tox failure case that changing

[code]

to

[code]

Worked around the problem for now.

[2020-02-10 14:13] webknjaz commented on #1551
Looks like this is happening under PyPy: https://travis-ci.org/PyCQA/astroid/jobs/648355483#L263.

[2020-02-10 14:27] joker-official commented on #1551
We worked around the problem with `pip install tox "six>=1.14.0"`. Seems to be a pip issue with resolving depdencies to me, maybe https://github.com/pypa/pip/issues/988

[2020-02-10 14:30] pfmoore commented on #1552
The only case I know of where `resolve` doesn't give an absolute path is if the file doesn't exist. But that doesn't seem like it would be the case here...?

Can you give an example of the issue? It feels like we might be over-complicating the solution, or missing the actual problem, here 🙁

[2020-02-10 14:30] webknjaz commented on #1551
@joker-official [virtualenv specifies `six>=1.12.0,<2`][1] so it's natural that Pip doesn't upgrade six if it already matches that constraint.

[1]: https://github.com/pypa/virtualenv/blob/5c9b624/setup.cfg#L45

[2020-02-10 14:33] joker-official commented on #1551
@webknjaz My system had `1.11.0` though, which seems to only match `tox`'s requirements.

[2020-02-10 14:34] webknjaz commented on #1551
@joker-official inside or outside of venvs created by tox?

[2020-02-10 14:35] pfmoore commented on #1551
@joker-official Yes, that sounds like pypa/pip#988.

[2020-02-10 14:35] joker-official commented on #1551
@webknjaz  Outside. Installed via `python-six` ubuntu package. I'm unable to create virtualenvs without the new six ;)

[2020-02-10 14:37] webknjaz commented on #1551
@joker-official messing with the system-wide Python installation is not a good idea...

[2020-02-10 14:39] joker-official commented on #1551
@webknjaz I'm aware, but that's not the issue at hand (and these are short-living docker-containers anyways).

[2020-02-10 14:41] gaborbernat commented on #1552
@pfmoore that is the case here 👍

[2020-02-10 14:54] #1552 closed

[2020-02-10 14:54] #1553 closed

[2020-02-10 14:56] gaborbernat commented on #1551
This feels like an issue for pip under:

I'll close this for now.

@Larandar your issue is different please open a separate issue for that.

[2020-02-10 14:56] #1551 closed

[2020-02-10 14:57] gaborbernat commented on #1545
This issue still needs a small reproducible script, I'm failing to do so. A run with ``-vvv`` would be a good start.

[2020-02-10 14:57] pfmoore commented on #1552
Ah, OK. Thanks for the clarification. Apologies that I couldn't find that information for myself.

[2020-02-10 15:11] gaborbernat commented on #1552
Oh and I'm happy to switch back to ``Path.absolute()`` if upstream decided to actually document and support it, but that's still a WIP as I read from those threads

[2020-02-10 15:20] jamadden opened #1555 "terryfy macOS 2.7.17 and virtualenv 20.0: unable to find 'coverage' command (zope.interface)"
(We found a workaround so this isn't super critical, but several other projects also would have to change to use the workaround.)

zope.interface uses https://github.com/MacPython/terryfy to install the python.org distribution of Python on Travis macOS for testing for 2.7, and 3.5+. Here's the [relevant .travis.yml configuration for the builds discussed](https://github.com/zopefoundation/zope.inte

[2020-02-10 15:30] gaborbernat commented on #1555
Thanks for the insight, I'll try to reproduce and see if I can pinpoint the issue. From the description, it does not seems to be #1550.

[2020-02-10 15:30] Nitori- commented on #1549
We used this feature sometimes because our CI system would create virtualenvs in directories with long names. The name would be long enough that the `#!` would be too long and we can't execute the scripts in the env.

[2020-02-10 15:32] gaborbernat commented on #1549
@Nitori- for those cases it's recommended to use ``python -m`` format of invoking the tools in general 🤔

[2020-02-10 15:36] Nitori- commented on #1549
That's fair. Although many Python packages behave poorly and don't allow themselves to be invoked like that.

[2020-02-10 15:58] gaborbernat commented on #1549
@Nitori- even if that's the case you can always force the invocation by invoking the executables via the python interpreter within the binary folder; e.g.

[code]

where ``{venv}`` can be arbitrarily long 👍

[2020-02-10 18:33] nsoranzo opened #1556 "`virtualenv` should print help and return 2"
or anything greater than 0.

Behaviour pre v20:
[code]

New behaviour in v20.0.1:
[code]

[2020-02-10 18:34] asottile commented on #1551
this seems pretty bad :/

here's a minimal reproduction:

[code]

and now my users are complaining to me about it: https://github.com/pre-commit/pre-commit/issues/1325

[2020-02-10 18:35] gaborbernat commented on #1551
There's not much we can do here; see https://github.com/pre-commit/pre-commit/issues/1325#issuecomment-584280357. We specify a version constraint correctly as per the python ecosystem.

[2020-02-10 18:36] asottile commented on #1551
One fix would be to not depend on `ensure_text` here -- almost all of the cases should use `six.text_type(...)` anyway

[2020-02-10 18:37] gaborbernat commented on #1551
I do not agree on this with you @asottile and that is not a solution, it's a workaround that pins our dependencies back in the past.

[2020-02-10 18:38] asottile commented on #1551
fwiw this was suggested during the feedback period here: https://github.com/pypa/virtualenv/pull/1481#discussion_r363314464

[2020-02-10 18:39] gaborbernat commented on #1556
The help is printed with ``--help\-h``. All values have defaults so there's no reason why not just execute the create virtual environment command.

[2020-02-10 18:45] gaborbernat commented on #1551
And I thought using the ``ensure_text\ensure_str`` is cleaner so did not address it there. The problem is not using those functions, but rather than people tend to install pip packages on top of Ubuntu packages which can blow up with such edge cases.

[2020-02-10 18:47] nsoranzo opened #1557 "Creating a virtualenv gives no feedback to user"
Behaviour pre v20:
[code]

New behaviour in v20.0.1:
[code]

It doesn't need to print the same messages of course, but at least something!

It is especially surprising in the case of running just `virtualenv`, which before was printing the help and returning an error code because of the missing `DEST_DIR`, while now creates a virtualenv in the new default `venv` and returns 0 without any feedback.

[2020-02-10 18:48] nsoranzo commented on #1556
Ah, it was not clear at all to me that it was creating a virtualenv in `venv`, closing in favour of #1557.

[2020-02-10 18:48] #1556 closed

[2020-02-10 18:51] gaborbernat commented on #1557
Has been commented during the beta that some people like the silent out of box behaviour, similarly how the rm command does not print just does. If you pass in a -v you'll get more feedback. I'm split between the current behaviour and maybe a one line final report 🤔on success. If you'd have warning/errors during the creation those you would already see.

[2020-02-10 19:01] gaborbernat commented on #1551
That being said if someone tries to port it over to the suggested text_type approach I'll review it.

[2020-02-10 19:04] smitt04 commented on #1545
A reproducible script for me was

[code]

and I get the following output:
[code]

[2020-02-10 19:07] gaborbernat commented on #1545
Can you please post the output by passing -vvv to the virtualenv command.

[2020-02-10 19:08] smitt04 commented on #1545
[code]

[2020-02-10 19:20] asottile commented on #1551
for related reading, setuptools hit a similar thing when unvendoring -- especially with `six`:
- https://github.com/pypa/setuptools/issues/947
- https://github.com/pypa/setuptools/commit/edfa86809c0010caaa24b65c0e84c8467ba43b2b
- https://github.com/pypa/setuptools/issues/980

[2020-02-10 19:22] pmac opened #1558 "Copying a virtualenv to a new docker image removes pip"
As part of our build process we use a multi-stage docker file that builds a virtualenv in one image, then copies that environment to the final image. This has worked well for months until today which I discovered corresponds to the release of 20.0.0. The following minimal Dockerfile demonstrates the problem:

[code]

When you build this file (e.g. with `docker build .`) it will fail with:

[code]

[2020-02-10 19:28] gaborbernat commented on #1558
The default seed mechanism (app-data) links these packages from the machines application data folder. If you want self-contained folders as here please pass in the `` --seed pip`` flag to fallback to a method that puts everything in the same folder. Alternately you may also copy over the application data folder for things to continue working.

[2020-02-10 19:28] #1558 closed

[2020-02-10 19:30] pmac commented on #1558
And this changed from pre 20.0.0 to now? pip is installed in the system python in these official python images, so it should be identical in both images.

[2020-02-10 19:31] gaborbernat commented on #1558
My bad it's ``--seeder pip``, see https://virtualenv.pypa.io/en/latest/cli_interface.html#seeder

[2020-02-10 19:34] gaborbernat commented on #1558
Yes, this changed in 20.0.0, the reason we bumped from 16.7 all the way to 20 is to show while we strive for interface compatibility such edge case differences in functionality are bound to happen. You can opt out of this new behaviour though by passing that flag.

[2020-02-10 19:35] pmac commented on #1558
Thanks for your help!

[2020-02-10 20:12] asottile commented on #1545
I'm a little sad we still released while we had identified this during the beta period -- would have been nice to work this out instead of having users pester downstream packages about this https://github.com/pre-commit/pre-commit/issues/1327

[2020-02-10 21:44] ianlofs opened #1560 "major version bump of virtualenv (20.0.1, updated 2019-02-10) breaks multistage docker builds using pipenv"
The new version of virtualenv  appears to break python apps deployed using a multistage docker build process, ie.
[code]
OS: Debian Strech
pip list:
[code]

When running the container the executable fails with `ModuleNotFoundError: No module named 'pkg_resources'`

[2020-02-10 21:46] ianlofs commented on #1560
I also created an issue in the pipenv repository, [4128](https://github.com/pypa/pipenv/issues/4128)

[2020-02-10 21:49] njgraham commented on #1549
At my company we use the `--relocatable` flag in our pipelines to help us reuse a virtualenv and save time - we use GitLab, build the virtualenv in an early step, save it as an artifact and then reuse it to run a bunch of parallel tests.

We intended to pin the version of virtualenv but due to a bug we ended up pulling the latest so our pipelines broke this morning.  We fixed that bug so it's pinn

[2020-02-10 21:54] gaborbernat commented on #1560
See https://github.com/pypa/virtualenv/issues/1558

[2020-02-10 21:54] #1560 closed

[2020-02-10 22:37] gaborbernat commented on #1549
With the new app data seeder creating a virtualenv takes just under 100ms, this approach is preferred in your use case.

[2020-02-10 22:47] rpkilby opened #1561 "framework build CPython macOs issues"
Hi. I'm trying to create a Python 2 virtualenv on macOS Mojave and am running into an error.

[code]

It's worth noting that Python 2 is the system Python, while Python 3 is installed from Homebrew.

[2020-02-10 22:52] rpkilby opened #1562 "Overview of v20 changes"
Hi. Is there anything documenting the high level changes in v20? I see the proposal in #1366, but it's not clear what's changed/what hasn't/etc... e.g., is the builtin `venv` module used for Python 3 environments? Thanks.

[2020-02-10 23:11] gaborbernat commented on #1562
https://discuss.python.org/t/virtualenv-20-0-0-beta1-is-available/3077/24

https://virtualenv.pypa.io/en/latest/cli_interface.html#creator

It's there just not default

[2020-02-10 23:18] rpkilby commented on #1562
Thanks - it might be good to link that or formalize that post into the docs somewhere.

[2020-02-10 23:28] gaborbernat commented on #1562
Yeah will be done part of fixing this issue, but first we must deal with bugs ☺️

[2020-02-10 23:30] gaborbernat commented on #1561
Can you please show the output with -vvv? Thanks!

[2020-02-10 23:46] asottile commented on #1545
here's what I'm getting:

[code]

I had to adjust `__main__.py` to `raise` instead of `sys.exit(1)` to get the stacktrace

[code]

[2020-02-10 23:47] asottile commented on #1545
note that I am not using pyenv, my python is acquired from homebrew

[2020-02-10 23:58] rpkilby commented on #1561
[code]

Also:
[code]

[2020-02-11 00:07] szmark001 commented on #1561
I am seeing the same issue with version 20.0.1.

[2020-02-11 00:23] asottile opened #1563 "virtualenv 20: is the symlink hack really worth it?"
I did some timing and it seems like the trouble it causes is not really worth it -- at the very least I'd like an option which copies instead of symlinks

Here's some timing I did to try and guage the differences -- since there's no options I could find I toggled this line to `if False` to get my "copy" data: https://github.com/pypa/virtualenv/blob/8c2985c2946e767bb6f74a7e22f51add17b38987/src/virt

[2020-02-11 00:41] mctrafik commented on #1561
+1 on Mac OS 10.15.3 Catalina. Same exact issue.

[2020-02-11 01:11] nsoranzo commented on #1563
I'm experiencing the `ModuleNotFoundError: No module named 'pip'` error mentioned above in https://travis-ci.org/galaxyproject/galaxy/jobs/648435619 , hoping for a solution.

[2020-02-11 01:21] nsoranzo commented on #1557
The behaviour of "silent" shell commands is counter-intuitive and needs to be explained to new users, in my experience as Software Carpentry instructor. In virtualenv case, passing from giving feedback to be silent is even more surprising.
I find that `git` is a great example of how a command-line tool should give feedback, for example `git checkout <branch>` could be silent but it's not.

[2020-02-11 01:42] glandium opened #1564 "virtualenv 20.0.1 fails to install on Travis xcode6.4 image because of six"
This is the output from `sudo pip install virtualenv` on Travis xcode6.4 image:
[code]

[2020-02-11 03:20] hauntsaninja opened #1566 "virtualenv 20.0.1 breaks mypy CI on windows"
Hello!

Sorry for the lazy issue report... I don't currently have access to a Windows machine to debug further but figured maybe reporting the issue sooner might be helpful. The v20 release seems to have broken https://github.com/python/mypy/blob/master/mypy/test/testpep561.py, errors visible at:

https://github.com/python/mypy/pull/8388/checks?check_run_id=437561678
https://github.com/python/mypy

[2020-02-11 07:22] systemlogic opened #1567 "virtual environment is failing"
Thanks for submitting an issue!

If submitting a BUG please provide:

- [ ] OSError: [Errno 8] Exec format error:pip
- [ ] OS : ubuntu   Pip list
[code]

if submitting an ENHANCEMENT issue:

- [ ] creating virtual environment is failing on ubuntu
- [ ] revert the changes made on 10th Feb
- [ ] if you have want help to do a PR yourself

[2020-02-11 08:07] gaborbernat commented on #1567
Thanks for opening an issue and sorry for the bug. Can you please attach the output of the virtual environment creation with -vvv?

[2020-02-11 08:54] gaborbernat commented on #1564
Hello, @glandium sadly installing packages into the system site-package is not really supported due to this may be conflicting with the OS managed packages. In general, we recommend creating either a Python 3 venv and installing into that (perhaps via pipx); or using the zipapp that does not require installation, see https://virtualenv.pypa.io/en/latest/installation.html#via-zipapp

[2020-02-11 08:54] #1564 closed

[2020-02-11 08:56] gaborbernat commented on #1545
@asottile did not need the stack trace, knew exactly where things fail, but needed to see the discovery trace to see where things go wrong. Thanks.

[2020-02-11 09:02] gaborbernat commented on #1563
@nsoranzo your issue is separate from the topic of this discussion, please open a new issue for that. @asottile I'll address your point raised after there are no more bugfixes needed at a later time; but note you can use ``--copies`` to get the copy behaviour (for both python files, and the app-data part). That being said if the app-data folder is causing you issues and you don't care about perfor

[2020-02-11 09:06] systemlogic commented on #1567
@gaborbernat
[code]

[2020-02-11 09:14] gaborbernat commented on #1567
Seems pipenv is obfuscating the virtualenv creation so there's not enough information in the output to tell for sure (ideally we'd want the -vv output of the virtualenv creation). Can you get the virtual environment creation logs? I'd suggest also trying setting the VIRTUALENV_SEEDER=pip env-var and see if that also triggers this behaviour. Thanks!

[2020-02-11 09:19] gaborbernat commented on #1561
So managed to reproduce this. Interestingly virtualenv also fails on this:

[code]

So going from there less of a regression than a feature request to support python 2 framework builds. Does old virtualenv print the above error message for other people too?

[2020-02-11 09:27] pfmoore commented on #1557
As someone who said I liked the new quieter behaviour, I will note that I didn't realise that you could omit even the name of the environment (the `dest` parameter). I'm not keen on this behaviour - I'd prefer `dest` to be mandatory - but regardless of that I definitely don't like the fact that a bare `virtualenv` command creates an environment silently.

So, my preference now would be one or both

[2020-02-11 09:33] gaborbernat commented on #1561
So basically we do not support with the rewrite the MacOs framework python. We'll need to fix this.

[2020-02-11 10:12] gaborbernat commented on #1557
IMHO having it as .venv gives a false impression is a private/hidden, which is not the case (we learned this the hard way in tox). I'd personally would be an advocate of 2, without 1.

[2020-02-11 10:25] BK-Modding opened #1570 "No (env) indication visible - Windows 10"
In all the time I've used virtualenv (i.e since 2 years now), whenever I activate a virtual environment there is an (env) indication like this:
![image](https://user-images.githubusercontent.com/14833123/74227177-ec104d80-4ce3-11ea-9a3f-a959ecf0c4a9.png)

But with the new virtualenv version (20.0.1), I have no indication of whether the virtualenv is active or not:
![image](https://user-images.gith

[2020-02-11 10:26] pfmoore commented on #1557
That's not my ideal, but it works for me. (Arguing over the default name *was* meant as a joke, by the way).

[2020-02-11 10:27] gaborbernat commented on #1570
This seems a regression here @BK-Modding. virtualenv 20 is a complete rewrite of 16, hence the big version jump. I believe things should still work. What shell are you running in there?

[2020-02-11 10:31] pfmoore commented on #1570
It looks like the `.bat` form of the activate script. That script does indeed look broken to me (the prompt setting says `set "PROMPT=%PROMPT%"` which is bizarre and the line endings seem broken).

[2020-02-11 10:37] pfmoore commented on #1570
There was code in the old version of virtualenv that replaced `__VIRTUAL_WINPROMPT__` in the `activate.bat` script - that seems to have been lost in master.

[2020-02-11 10:54] gaborbernat commented on #1570
I'll try to address this but with a lower priority over other bigger bugs; if anyone has time to fix it feel free to submit a PR. Thanks! and sorry for the trouble it caused.

[2020-02-11 10:56] gaborbernat commented on #1557
I'm ok with option 1 too 👍 if both you and @pradyunsg advocate for it 🤷‍♂

[2020-02-11 11:03] BK-Modding commented on #1570
@gaborbernat Thank you, this was the default windows cmd.exe shell.

[2020-02-11 11:14] BK-Modding commented on #1570
By the way, this is not that big of an issue but when I install virtualenv 20 it installs a bunch of additional packages like zipp, distlib, appdirs, etc. This use of additional dependancy packages wasn't present with virtualenv 16.

Again, not a big issue but apart from maintaining separate environments, one of the reasons why I use virtualenv is to prevent package bloat on my global pip installa

[2020-02-11 11:19] pradyunsg commented on #1472
Travis CI has pyenv installed on their CI systems, which can be used to install + test, on Ubuntu at least. It'd be a good idea to add that, until we figure out a more "full" solution for this.

[2020-02-11 12:08] gaborbernat commented on #1570
This well might be, but needing to write everything ourselves and vendoring those, was a major pain in the maintenance of the package, and lead to the package being mostly abandoned for significant portions of times.

We definitely don't recommend you installing virtualenv into the global pip installation. You should either use pipx or the zipapp; see https://virtualenv.pypa.io/en/latest/installat

[2020-02-11 12:33] gaborbernat commented on #1545
@asottile how did you install virtualenv?

[2020-02-11 12:40] systemlogic commented on #1567
@gaborbernat Can I request if you can check with your team that get-pip.py which is updated on 10th feb is compiled on Ubuntu not on mac. `OSError: [Errno 8] Exec format error` generally comes when python binary compiled on one OS and try to run on incompatible OS.
Or if there is a reference to older get-pip.py is there .

[2020-02-11 12:44] pradyunsg commented on #1557
On board for making `dest` required.

[2020-02-11 12:54] gaborbernat commented on #1567
virtualenv does not use ``get-pip.py`` at all, so it's not related. I'd still want to see those creation logs to determine the underlying issue here.

[2020-02-11 13:01] nsoranzo commented on #1557
If I have to choose, I'd prefer 2), i.e. to have this issue addressed, but preferably both.

[2020-02-11 13:26] systemlogic commented on #1567
@gaborbernat  can you send me set of command ?
I am asking since our CI server is ruuning on ubuntu image in Jenkins and we don't have access to download that environment.

[2020-02-11 13:35] gaborbernat commented on #1567
``Did you try setting the environment variable ``VIRTUALENV_SEEDER`` to ``pip``?

[2020-02-11 13:37] systemlogic commented on #1567
NO, I have to prepare a script to run on black box, which I don't have access. I can only create PR to debug the issue. No local

[2020-02-11 13:40] systemlogic commented on #1567
Actually we are using pipenv to create a grap and install the packages.

[2020-02-11 14:05] gaborbernat commented on #1567
In that PR you can just set that env-var, not?

[2020-02-11 14:24] #1545 closed

[2020-02-11 14:28] Imaskar commented on #997
Is it really fixed?
I just run into the same issue using latest pip 20.0.2 and virtualenv 20.0.1 and python 3.7.4 . And it still generates the long path.

[2020-02-11 14:47] #1557 closed

[2020-02-11 14:58] gaborbernat commented on #997
It seems here we've regressed as we're not using ``distlib`` to generate the paths.

[2020-02-11 15:12] asottile commented on #1563
I do care about performance, the copies approach is ~150ms whereas the pip approach is >1s

I don't want copies of the python executable

[2020-02-11 15:14] asottile commented on #1545
the same as @smitt04's directions above

[2020-02-11 15:39] asottile commented on #1563
also `--copies` does not do copies:

[code]

[2020-02-11 15:58] systemlogic commented on #1567
@gaborbernat any idea if some value is changed for shebang length. String is getting truncated after 80, where it was allowing long length

[2020-02-11 16:03] hugovk opened #1576 "`ModuleNotFoundError: No module named 'pip'` with 3.x-dev on Travis CI"
If submitting a BUG please provide:

- [x] Minimal reproducible example or detailed descriptions
- [x] OS and `pip list` output

OS: Xenial
pip list: don't know, exception when running pip

1. Build on Travis CI with `.travis.yml`:

[code]

# Expected result

Passes

# Actual result

On `3.x-dev` and `nightly`, there's a `ModuleNotFoundError: No module named 'pip'`.

[code]

![image](https://user-

[2020-02-11 16:10] hugovk commented on #1576
This looks like it coincides with the release of virtualenv 20.

Passing build, yesterday:
* https://travis-ci.org/hugovk/test/builds/648322611

Failing build, today:
* https://travis-ci.org/hugovk/test/builds/648976678

[2020-02-11 16:18] gaborbernat commented on #1576
@hugovk I don't see any virtualenv creation here, just activation? Who and where creates the virtual environments? They would need to use the pip seeder; or also cache the app-data folder, or we can copy the images.

[2020-02-11 16:19] gaborbernat commented on #1567
Yeah, that regressed sadly, we no longer support long paths; will need a bugfix for that, see #997 .

[2020-02-11 16:20] gaborbernat commented on #1563
Yeah, fixed that part of #1575, haven't released yet as first want to get in https://github.com/pypa/virtualenv/pull/1571 with it, that is failing at the moment.

[2020-02-11 16:22] hugovk commented on #1576
@banzaiman / @native-api Hello, please could you answer this? ^

[2020-02-11 16:25] gaborbernat commented on #1563
I think the symlink approach is very much worth it; especially on Windows with some anti-virus active. That being said, should it be the default option? Maybe not.

[2020-02-11 16:25] asottile commented on #1563
I guess my thought is that 60ms is not worth a sacrifice of correctness for sane defaults (whereas 3s+ is of course unacceptable)

In addition to breaking caching of virtualenvs in CI, I've also found it breaks our deployment system at lyft (which produces venvs at a well known location, then tars them up to deploy them)

I don't really want to continue having to "virtualenv's defaults are broken

[2020-02-11 16:33] gaborbernat commented on #1563
I'll create a PR that adds a separate flag for controlling the app-data copy/symlink behaviour, and make it copy by default on all platforms. With a bit of good progress should be out in the next two hours together with some other fixes.

[2020-02-11 16:35] gaborbernat commented on #1563
Just for reference on Windows with some more strict anti-virus (on non-SSD harddisks) the difference is more than 60ms; it's more in the realm of 10 seconds.

[2020-02-11 16:37] nsoranzo opened #1577 "pip inside virtualenv broken on osx TravisCI w/ Python 2.7"
[code]

python from the virtualenv seems to be using the pip module from `/usr/local/lib/python2.7/site-packages/pip`

See https://travis-ci.org/nsoranzo/galaxy/builds/648992164 for the exact sequence of command used.

[2020-02-11 16:44] systemlogic commented on #1567
@gaborbernat  can we have long path restored or at least a way to override default value?

[2020-02-11 16:47] emonty commented on #1563
Maybe then we could make the default for seeder be pip on non-Windows and the default be the symlink thing on Windows?

[2020-02-11 16:50] gaborbernat commented on #1563
I consider the app-data path via copy superior on all cases; the symlink one is the more dangerous one. The pip seeder is 3s+ on non UNIX, and even longer on Windows. This way the default will be 200ms on UNIX, but users can opt-in into the faster ``--symlink-app-data`` if they can ensure that the symlinks are not broken.

[2020-02-11 16:56] gaborbernat commented on #1567
As soon as I get to put in a PR; sadly there's only one of me and quite a few such issues... but working on it.

[2020-02-11 16:59] emonty commented on #1563
Yeah - I totally get it for the Windows users.

Another use case that just broke for us, FWIW - is we have the CI system create a few shared virtualenvs that go into /usr/local that other things use to get their hands on some tools that don't want to have their depends installed globally. Those shared venvs are installed by root, since they're going in a shared location. BUT - that means that the

[2020-02-11 17:02] hugovk commented on #1577
See also https://github.com/pypa/virtualenv/issues/1576 for the same thing with `3.x-dev` on Travis CI.

[2020-02-11 17:16] gaborbernat commented on #1567
https://github.com/pypa/virtualenv/pull/1579 this should do it.

[2020-02-11 17:16] #1563 closed

[2020-02-11 17:18] gaborbernat commented on #1563
As a developer on UNIX I very much prefer being done in 200ms; as over to 3 seconds. So we'll keep the app-data as the default seeder I believe. We'll work through the edge cases as they come up.

[2020-02-11 17:20] gaborbernat commented on #1577
I'm fairly certain our release from yesterday may have broken CI environments that assumed that all virtual environment files are within the target folder. We're now making app-data copy by default, see https://github.com/pypa/virtualenv/pull/1578, this might fix most edge-cases; though mind you environments already broken at image level, as is @hugovk case will probably require some intervention

[2020-02-11 17:22] native-api commented on #1576
I already [identified the reason](https://travis-ci.community/t/python-development-versions-no-longer-include-pip/7180/6). @hugovk should have probably linked to that message for reference.

AFAICS, a workaround is to use `--seeder=pip`.

---

For the reference, with the now-default `app-data` seeder, is there a way to save a virtualenv into a tarball together with that guarantees its integrity an

[2020-02-11 17:26] gaborbernat commented on #1576
@native-api you would have a few options, in an hour or so once https://github.com/pypa/virtualenv/pull/1559 is merged I'll release it part of ``20.0.2``:
- this allows moving the app-data to something you also cache - https://github.com/pypa/virtualenv/pull/1578
- the new default now copies rather than symlinks by default, so things should be good out of box https://github.com/pypa/virtualenv/pul

[2020-02-11 17:30] gaborbernat commented on #1576
This now has been fixed on our side, so I'll close the issue. Once we do the bugfix release I'll come back and post a message here.

[2020-02-11 17:30] #1576 closed

[2020-02-11 17:30] gaborbernat commented on #1577
This now has been fixed on our side, so I'll close the issue. Once we do the bugfix release I'll come back and post a message here.

[2020-02-11 17:40] pradyunsg commented on #1557
@nzoranzo we fixed both. :)

[2020-02-11 17:41] #997 closed

[2020-02-11 17:50] nsoranzo commented on #1557
Perfect, thanks!

[2020-02-11 17:52] systemlogic commented on #1567
thanks, when binary will be updated ?

[2020-02-11 17:58] native-api commented on #1576
@gaborbernat I confirm that with HEAD version, the virtualenv created with default options looks tarballable.

I'm though okay with using `--seeder=pip` since the speedup with `app-data` is very noticeable and our use case is indeed an unusual one.

So, what are your plans here? Do you plan to deprecate/remove `--seeder=pip` in the foreseeable future? Do you wish to eventually return symlinking as

[2020-02-11 18:00] gaborbernat commented on #1576
I think the pip seeder will be kept forever... Going ahead we'll keep copy for the app-data one the default, and allow users to change to symlink manually. 🤷‍♂ so the plan is to keep the status quo post this release

[2020-02-11 18:01] nsoranzo commented on #1577
@gaborbernat Thanks a lot for working on this! I've updated the Travis script to install virtualenv from the GitHub master branch, but I still see the same issue: https://travis-ci.org/nsoranzo/galaxy/builds/649034246

If the issue is at the CI image level, do you have suggestions for a workaround? Using `python -m pip` seems to be more stable than `pip`, for example.

[2020-02-11 18:04] gaborbernat commented on #1567
https://github.com/pypa/virtualenv/pull/1580 work in progress

[2020-02-11 18:21] gaborbernat commented on #1577
I'll need to take a look to confirm, just released few minutes ago 20.0.2.

[2020-02-11 18:22] gaborbernat commented on #1576
Hello, a fix for this issue has been released via virtualenv 20.0.2; see https://pypi.org/project/virtualenv/20.0.2/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-2-2020-02-11) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-11 18:22] gaborbernat commented on #1557
Hello, a fix for this issue has been released via virtualenv 20.0.2; see https://pypi.org/project/virtualenv/20.0.2/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-2-2020-02-11) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-11 18:22] gaborbernat commented on #997
Hello, a fix for this issue has been released via virtualenv 20.0.2; see https://pypi.org/project/virtualenv/20.0.2/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-2-2020-02-11) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-11 18:22] gaborbernat commented on #1563
Hello, a fix for this issue has been released via virtualenv 20.0.2; see https://pypi.org/project/virtualenv/20.0.2/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-2-2020-02-11) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-11 18:22] gaborbernat commented on #1561
Hello, a fix for this issue has been released via virtualenv 20.0.2; see https://pypi.org/project/virtualenv/20.0.2/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-2-2020-02-11) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-11 18:22] gaborbernat commented on #1545
Hello, a fix for this issue has been released via virtualenv 20.0.2; see https://pypi.org/project/virtualenv/20.0.2/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-2-2020-02-11) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-11 18:22] gaborbernat commented on #1556
Hello, a fix for this issue has been released via virtualenv 20.0.2; see https://pypi.org/project/virtualenv/20.0.2/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-2-2020-02-11) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-11 18:22] gaborbernat commented on #1560
Hello, a fix for this issue has been released via virtualenv 20.0.2; see https://pypi.org/project/virtualenv/20.0.2/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-2-2020-02-11) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-11 18:23] gaborbernat commented on #1558
We now switched to app-data to use copy by default, so the seeder pip should not be needed 👍

Hello, a fix for this issue has been released via virtualenv 20.0.2; see https://pypi.org/project/virtualenv/20.0.2/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-2-2020-02-11) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reo

[2020-02-11 18:28] gaborbernat commented on #1567
Hello, the fix for the long path has been released via virtualenv 20.0.2; see https://pypi.org/project/virtualenv/20.0.2 . Please give a try and report back if your issue has not been addressed; if not, please comment here. We want to apologize for the inconvenience this has caused you and say thanks for having patience while we resolve the unexpected bugs with this new major release.

![thanks](h

[2020-02-11 18:31] gaborbernat commented on #1577
Can you do a ``tree`` command on /Users/travis/build/nsoranzo/galaxy/.venv and report back?

[2020-02-11 18:35] rubendibattista opened #1581 "sys.executable and sys.path are wrong when running virtualenv python in subprocess on macOS"
When launching the virtualenv `python` bynary from a `subprocess` from the system binary, the environment in which the `subprocess` call is running looks wrong: e.g. it returns the system python binary as `sys.executable`.
If the virtualenv is created using `venv`, things work as expected.

On Linux the bug is not present.

## Python Details
[code]

## OS details
10.15.3 (but I could also reproduc

[2020-02-11 18:39] gaborbernat commented on #1581
Judging from the output of that virtualenv creation you're using the old legacy version of virtualenv (<16.7.9). That's no longer maintained. Please try the latest version ``20.0.2`` and report back if this is still an issue.

[2020-02-11 18:51] vphilippon opened #1582 "With Git bash, cannot create virtualenv with a nested path."
With *Git Bash*, virtualenv refuses to create a virtualenv with a nested directory (ex: `foo/bar`), reporting that `/` is a path seperator and shouldn't be in the destination path.

I have no idea why `/` is considered a path separator (usually `;` or `:`, depending on OS, right?)

- [X] Minimal reproducible example or detailed descriptions
- [X] OS and `pip list` output

Environment: Windows 10,

[2020-02-11 18:53] rpkilby commented on #1561
I don't think this is fixed entirely. Virtualenv creation doesn't fail, but there are a lot of unexpected packages present. Also, is the venv creation output expected?

[code]

However, the contents of the venv's site-packages are:
[code]

[2020-02-11 18:55] gaborbernat commented on #1561
Thanks I'll take a look why this happens 🤔 seems the system python does not respects ignore global site packages on site.py 🤔

[2020-02-11 18:58] gaborbernat commented on #1582
Does it work if you pass the windows path separator instead of the UNIX one you do in your example? I feel like the error message is bad, but seems you're trying to use Unix paths on windows.

[2020-02-11 19:01] asottile commented on #1581
the output is due to framework builds which are particularly fickle, you'll likely need a workaround similar to [this](https://github.com/pre-commit/pre-commit/blob/524bdaeb33032d97dc27bbeaa6d89eed9e429834/pre_commit/main.py#L34-L38)

[2020-02-11 19:04] asottile opened #1583 "20.0.2: unable to find system python2.7 on macos"
[code]

[code]

How I got here:

[code]

I'm not exactly sure why it's trying to look up python3.7 here 🤔

I can dig more into it as well, but figured I'd post this first 👍

[2020-02-11 19:09] gaborbernat commented on #1583
We always try with the system python of the host python first when searching for python environments, we assume we can always find this, but in this case seems not. Ideally I'd need the py info of the host python here to understand what's needed. Might need to add a py info command flag to allow to do this easily, but for now you'd need that file. Can you post here the py info locked up via that l

[2020-02-11 19:10] rubendibattista commented on #1581
I was using the version provided by [Macports](https://github.com/macports/macports-ports).

Upgrading `virtualenv` seems to fix the bug:
[code]

[2020-02-11 19:10] #1581 closed

[2020-02-11 19:10] asottile commented on #1545
I get past the error now, but now I'm hitting #1583 from the same directions

[2020-02-11 19:12] gaborbernat commented on #1583
Can you post the --with-traceback output?

[2020-02-11 19:18] asottile commented on #1583
here's the python infos:

[code]

and the traceback:

[code]

[2020-02-11 19:21] akuzminsky opened #1584 "Creating environment fails with OSError: [Errno 5] Input/output error"
To create a a virtual environment  tox runs `/usr/local/bin/python -m virtualenv --no-download --python /usr/local/bin/python py37`. The command fails with an error
[code]
Apparently it believes a symlink isn't created. Here's an strace output:
[code]

It is worth noting `tox` fails only in a container (from a public image `python:3.7`) and runs fine on a host MacOS machine.
All virtualenv 20.* ve

[2020-02-11 19:27] akuzminsky commented on #1584
Workaround in `tox.ini`
[code]

[2020-02-11 19:28] gaborbernat commented on #1584
Can you please also post a creation output of virtualenv with -vvv --with-traceback?

[2020-02-11 19:30] akuzminsky commented on #1584
[code]

[2020-02-11 19:32] vphilippon commented on #1582
Yes, it'll work:
[code]

Although, "I didn't have issues before" ™️ , but also usually don't have issues doing so using Git Bash with other python application.
Ultra-simple example:
[code]
I do understand that virtualenv is likely doing way more stuff with that path, with millions of ways for things to go haywire. Yet, that's a regression in virtualenv IMO.
I'll try to dig in to see if I can give

[2020-02-11 19:33] gaborbernat commented on #1584
Eh dockers doesn't like hard links?

[2020-02-11 19:35] gaborbernat commented on #1584
Is it https://github.com/docker/for-mac/issues/3553?

[2020-02-11 19:39] gaborbernat commented on #1582
If you don't make headway on this I'll look into it tomorrow why this fails, and if it would be possible to make it work 🤞if you can come up with a pr that would be epic though 👍

[2020-02-11 19:41] gaborbernat commented on #1584
Please confirm if you're using docker from Mac and if so what version 🤔 thanks

[2020-02-11 19:59] akuzminsky commented on #1584
yes, it's docker on MacOS
[code]
$ uname -a
Darwin ***.com 18.7.0 Darwin Kernel Version 18.7.0: Sun Dec  1 18:59:03 PST 2019; root:xnu-4903.278.19~1/RELEASE_X86_64 x86_64 i386 MacBookPro15,1 Darwin
[code]

[2020-02-11 20:04] nsoranzo commented on #1577
Here it is: https://travis-ci.org/nsoranzo/galaxy/builds/649094823

[2020-02-11 21:28] oxfn commented on #1584
I've also faced this on macOS 10.13.2 and Docker for Mac 2.2.0.0 while preparing reproducible app for another issue on failing tox and coverage in gitlab-runner. In that issue some unwanted symlinks from setuptools package get into coverage report and fail project stats.
[virtualenv-issue-1584.zip](https://github.com/pypa/virtualenv/files/4188471/virtualenv-issue-1584.zip)

[2020-02-11 21:31] oxfn commented on #1584
Another option is temporarily preinstall 'virtualenv<20' before running tox

[2020-02-11 21:53] Alex2761 opened #1585 "Function missing virtualenv.create_environment"
Hi,

I haven't found any commit or changelog for this change, therefore I create this ticket.
If I'm wrong about this please just close the ticket.
As the title says the function is no longer available

H:\>**pip install --upgrade virtualenv**
Collecting virtualenv
  Downloading https://files.pythonhosted.org/packages/51/89/6f2827025b28eee6236b1905555b0fbe1749f27bcbd3732ee137c31a21a8/virtualenv-20

[2020-02-11 21:58] gaborbernat commented on #1585
With the new major release we've changed the api, now you should be using run_via_cli method, though you might need to import it from virtualenv.run 🤔

[2020-02-11 21:59] asottile commented on #1472
deadsnakes has bionic python3.4 packages if you want to try that route as well

[2020-02-11 22:37] odyssey4me commented on #1551
@Larandar I think you may be hitting https://github.com/pypa/setuptools/issues/1990 instead.

[2020-02-11 23:05] waylan opened #1586 "Tox broken with `ImportError: cannot import name 'ensure_text'` on TravisCI"
This failure appears to be different than the other recently reported failures.

Our CI builds starting failing today, but only for Python 3.6 and pypy3, not Python 3.5, 3.7, or 3.8. The failure occurred on [multiple][1] [different][2] [PRs][3]. The more recent failures provided this output:

[code]

However, older failures provided a shorter, less helpful output:

[code]

Given the time differenc

[2020-02-11 23:32] gaborbernat commented on #1586
I think this is related to the Travis images being broken 🤔

[2020-02-12 01:32] systemlogic commented on #1567
Perfectly fine. Our CI is restored.

[2020-02-12 01:32] #1567 closed

[2020-02-12 02:42] pmac commented on #1558
Using 20.0.2 does indeed fix things without needing the `--seeder pip` flag. Thanks for the update!

[2020-02-12 05:24] BK-Modding commented on #1570
@gaborbernat ah I see. Thank you.

[2020-02-12 06:49] #1586 closed

[2020-02-12 08:59] schinckel commented on #1585
Any idea when this was removed? It's breaking my workflow using poetry, and I'd like to be able to restore to a version that works.

[2020-02-12 09:02] schinckel commented on #1585
Ah, it seems to be there in 16.7.9

[2020-02-12 09:10] akx opened #1587 "Virtualenv name not correctly shown on Fish"
Activating a virtualenv on Fish only shows `$VIRTUAL_ENV`, not the venv's actual name. This wasn't an issue on Virtualenv 16.7.9.

# Minimal reproducible example

[code]

# OS and `pip list` output
[code]
* macOS 10.15.3
* Python 3.7.6 from Homebrew
* Fish 3.0.2 from Homebrew

[2020-02-12 09:38] gaborbernat commented on #1561
https://github.com/pypa/virtualenv/pull/1588 fixes this now.

[2020-02-12 09:42] cjolowicz opened #1589 "`.dist-info.virtualenv` marker files break importlib.metadata in app-data seeded venvs"
Since virtualenv 20.0.0, dist-info directories in virtual environments seeded using the `app-data` method are accompanied by empty marker files with the same name as the directory plus a `.virtualenv` suffix:

https://github.com/pypa/virtualenv/blob/c8ac632cd40bfb014515151a02d1ea55d47ff467/src/virtualenv/seed/via_app_data/pip_install/base.py#L73-L76

This breaks `importlib.metadata`, which picks t

[2020-02-12 10:15] gaborbernat commented on #1589
This indeed is a really bad choice of name on our side; will create a PR to fix this (which will land today).

[2020-02-12 10:23] gaborbernat commented on #1585
It was removed as part of the rewrite effort.

[2020-02-12 10:34] cjolowicz commented on #1589
If I'm not mistaken, the issue only affects the following environments:

- Python 3.8.0 and 3.8.1
- importlib_metadata < 1.4

Python >= 3.8.2rc1 and importlib_metadata >= 1.4 use stricter matching and will not pick up the marker files.

See https://github.com/python/cpython/commit/98b1c0c7ac7c80aac8bce8648fe14b55abeb382a

[2020-02-12 10:46] #1589 closed

[2020-02-12 12:40] #1583 closed

[2020-02-12 12:43] gaborbernat commented on #1583
@asottile can you validate that master fixes this?

[2020-02-12 13:31] txp314 commented on #1587
Had the same issue today, you must edit the acitvate.fish file in your venv. Just put " instead of ' arround the $VIRTUAL_ENV in line 93. I send a pull request (#1594).

[2020-02-12 13:35] ssbarnea commented on #1551
Can we please reopen this bug?  The reality is that is perfectly possible to end-up with a newer virtualenv with a six version that is too old.

Here is an example: https://logserver.rdoproject.org/16/24916/5/check/check-centos-8/595187c/job-output.txt

[2020-02-12 13:37] gaborbernat commented on #1551
The issue is on pip side, not much we can do about it 🤷‍♂️

[2020-02-12 13:47] #1585 closed

[2020-02-12 14:22] gaborbernat commented on #1561
Hello, a fix for this issue has been released via virtualenv 20.0.2; see https://pypi.org/project/virtualenv/20.0.3/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-3-2020-02-12) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-12 14:22] gaborbernat commented on #1587
Hello, a fix for this issue has been released via virtualenv 20.0.2; see https://pypi.org/project/virtualenv/20.0.3/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-3-2020-02-12) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-12 14:22] #1587 closed

[2020-02-12 14:23] gaborbernat commented on #1585
Hello, a fix for this issue has been released via virtualenv 20.0.2; see https://pypi.org/project/virtualenv/20.0.3/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-3-2020-02-12) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-12 14:23] gaborbernat commented on #1583
Hello, a fix for this issue has been released via virtualenv 20.0.2; see https://pypi.org/project/virtualenv/20.0.3/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-3-2020-02-12) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-12 14:23] gaborbernat commented on #1589
Hello, a fix for this issue has been released via virtualenv 20.0.2; see https://pypi.org/project/virtualenv/20.0.3/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-3-2020-02-12) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-12 16:37] asottile commented on #1583
confirmed this fixes things -- thanks a ton!

[2020-02-12 17:03] cjolowicz commented on #1589
That fixes it, many thanks :)

[2020-02-12 17:37] YannickJadoul commented on #1561
Something's still going wrong with Python 2 on macOS. As far as I notice, scripts are still installed globally. Is this possible?

This is output from Python 3 and Python 2, installed with HomeBrew.

Python 3, correctly installing the `cibuildwheel` script in the virtualenv's `bin`:
[code]

Python 2, installing the script globally, it seems:
[code]

[2020-02-12 17:38] akx commented on #1587
@gaborbernat Thank you! I _love_ the new venv creation speed! ⚡️

However, this problem still appears on 20.0.3 (whose `version.py` says it's 20.0.2):

[code]

Nuking (renaming) the `seed-v1` folder didn't help either (as I figured it might have a cached fish activation template).

[2020-02-12 17:38] asottile opened #1596 "20.0.3: pypy could be relative symlinks for executables?"
this is a very minor difference with previous versions, but is making it difficult to properly fix [virtualenv-tools3](https://github.com/Yelp/virtualenv-tools/pull/22)

[code]

(notice `python` / `python2` / `python2.7` are relative symlinks)

if we continue this and make a 20.x virtualenv from that:

[code]

and here they are symlinks but absolute (making it difficult to relocate)

also it seems

[2020-02-12 17:51] gaborbernat commented on #1596
Sure, take a look here https://github.com/pypa/virtualenv/blob/master/src/virtualenv/create/via_global_ref/builtin/ref.py#L97-L122

[2020-02-12 17:53] gaborbernat commented on #1587
@akx you must still have virtualenv 20.0.2; I've checked the version.py is correct.

[2020-02-12 17:55] gaborbernat commented on #1584
While I think this is a docker bug; I think it's reasonable to fallback to symlink here https://github.com/pypa/virtualenv/blob/master/src/virtualenv/create/via_global_ref/builtin/ref.py#L121 if the hard link fails

[2020-02-12 17:56] akx commented on #1587
🤦‍♂ My bad, I didn't notice I ran the upgrade within a venv. That's what 10 hours at the office'll do to one...

Works as intended on 20.0.3! Thank you and sorry for the confusion.

[code]

[2020-02-12 17:58] gaborbernat commented on #1561
Does it install globally even if you don't use the activate, but invoke pip directly?

[2020-02-12 18:09] YannickJadoul commented on #1561
Like this, you mean? Then yes:

[code]

[2020-02-12 18:11] vphilippon commented on #1582
@gaborbernat Do you remember why you decided to explicitly dissalow `os.altsep` in the path?
https://github.com/pypa/virtualenv/blob/0e00194464a4eaa12ee6fd48c7a49338381fc88e/src/virtualenv/create/creator.py#L120
https://github.com/pypa/virtualenv/commit/524d95e782d810243cf9cd344a88711591c94efc

Did you hit some specific issues with it?
If I undertand correctly, it should be a valid path component.

[2020-02-12 18:11] postrational opened #1597 "virtualenv 20 breaks with tox: cannot import name 'ensure_text'"
I'm not sure if this is a virtualenv problem, or a tox problem, but when both are installed I can't use tox to create a testing environment.

When running `tox` I'm getting the following error:
[code]

##### Minimal reproducible example

Builld the following Dockerfile:

[code]

###### `pip list` of the environment where virtualenv is installed into if not using the zipapp

[code]

##### Output of

[2020-02-12 18:12] gaborbernat commented on #1561
Will check what's happening, thanks!

[2020-02-12 18:14] YannickJadoul commented on #1561
Thank yóu for the quick follow-up. If you still need anything from me, do let me know!

[2020-02-12 18:17] gaborbernat commented on #1582
Some tools support altsep so using them might break things. To be fair this would only be an issue if the paths we write into the activation scripts are used in the altsep form. If you can add tests/validate that we normalize altsep to pathsep I think we can remove this constraint.

[2020-02-12 18:19] gaborbernat commented on #1597
It's pip problem, see https://github.com/tox-dev/tox/issues/1516#issuecomment-584669016

[2020-02-12 18:19] #1597 closed

[2020-02-12 18:30] vphilippon commented on #1582
I'm not sure I understand: Wouldn't it be the opposite: those tools support `/` just like `\` on Windows, so having virtualenv support it wouldn't be an issue, right?

Could you be interpreting that `os.altsep` as something like `os.altpathsep`, i.e. that `/` acts like `;` on Windows? If so, I think that's incorrect, `\` is an alternative to `/` (once again, if my experience, and doc reading, is c

[2020-02-12 19:15] gaborbernat commented on #1582
Yeah I think you're right should be altpathsep

[2020-02-12 19:20] vphilippon commented on #1582
Alright, glad this was cleared up :)

Although, don't go searching for `os.altpathsep`, it doesn't exist :P.
It was an example name to try and point the concept difference. Sorry about that.

I can submit and MR, which essentially is a revert of https://github.com/pypa/virtualenv/commit/524d95e782d810243cf9cd344a88711591c94efc

[2020-02-12 19:25] rpkilby commented on #1561
Just throwing this out there - I wonder if this is somehow related to #1095.

[2020-02-12 19:43] nickjj opened #1599 "running a symlink results in an inaccurate sys.path and module imports fail"
Hi,

I'm running Ubuntu 18.04.3 with Python 3.6.9 (the default version on this distro).

Here's as much info as I have at the moment:

1. I created a virtualenv using 20.0.3
2. I ran `pip install docker` inside of this venv which is located at `/usr/local/lib/docker/virtualenv`
3. I created a symlink `lrwxrwxrwx  1 root root   43 Feb 12 18:25 python-docker -> /usr/local/lib/docker/virtualenv/bin/p

[2020-02-12 19:49] waylan commented on #1586
What leads you to believe Travis images are broken? AFAICT, the problem was introduced with the new version of virtualenv.

[2020-02-12 19:50] altendky commented on #1599
Looks to be introduced at v20.

[code]

[2020-02-12 19:57] cjolowicz commented on #1589
If this issue still affects you after upgrading to virtualenv 20.0.3, the reason may be that you have app data generated by an earlier version of 20.0. virtualenv will continue to use this data to generate new environments.

A simple way to resolve this is by deleting the app data directory, for example:

- `/Users/jdoe/Library/Application Support/virtualenv` (macOS)
- `/home/jdoe/.local/share/vir

[2020-02-12 20:05] gaborbernat commented on #1589
Hmm every version should have it's own app data 🤔it's a bug if not 😊

[2020-02-12 20:09] altendky commented on #1599
For at least a little more completeness on my check...

[code]

[2020-02-12 20:11] cjolowicz commented on #1589
I still had this after upgrading:

[code]

[2020-02-12 20:22] gaborbernat commented on #1589
It's a bug then 😟

[2020-02-12 22:30] waylan commented on #1586
By the way, I added the following before the `pip install tox` line to my travis config and the error has gone away:

[code]

As far as I can tell, virutalenv 20 is causing this error.

[2020-02-12 22:33] gaborbernat commented on #1586
It's pip issue, does not respect our install requires if the target already has any six 🤷‍♂️

[2020-02-12 23:02] emonty opened #1600 "pip installed in virtualenv matches virtualenv installation python not python in virtualenv"
This one's a little esoteric - but if you install virtualenv>20 with python2, then create a virtualenv with --python=python3 - the pip commands installed in the virtualenv are pip and pip2 rather than pip and pip3. Basically, the suffix is matching the python that the virtualenv is running with, not the python that the virtualenv is installing.

For example:

[code]

[2020-02-13 00:48] nsoranzo commented on #1577
Another weirdness I've discovered: with the venv activated, `python -m pip install <package>` installs the package inside `/usr/local/lib/python2.7/site-packages/` instead of inside the venv , see https://travis-ci.org/nsoranzo/galaxy/builds/649733024

[2020-02-13 01:46] native-api commented on #1576
We went the `--seeder=pip` route, but nevertheless, confirming that the new tarballs are now live and usable.

[2020-02-13 01:56] horriblyUnpythonic opened #1601 "Version output changed"
Hi,
I was wondering what the rational for the change in the output of the `--version` flag is. Our salt state for virtualenvs broke because it's expecting an parsable number output from virtualenvs and now the output is something like `virtualenvs 20 from /path/to/lib/__init__.py`. We're not on the latest version of Salt, so it might be a non issue already, but I'm wondering if there is a rational

[2020-02-13 07:44] mattip opened #1602 "virtualenv not copying/symlinking include files for pypy2"
Creating a virtualenv with 20.0.3 is not copying nor creating a symlink to the inlcude files that are part of a PyPy install. This breaks building c-extensions.

[code]

Previously:
[code]

Edit: this is fine. The problem is for a local build of pypy2.7

[2020-02-13 07:45] mattip commented on #1602
xref gh-1596 since these should probably be fixed at the same time

[2020-02-13 07:46] gaborbernat commented on #1602
We actually do link the headers if they are present at system level, there's something else at play here. As usual please submit the -vvv 👍

[2020-02-13 07:53] kyanite opened #1603 "location of site.__file__ is changed after upgrade to 20.0.x"
1. virtualenv testenv
2. source testenv/bin/activate
3. python -c "import site; print(site.__file__)"
    output: /usr/lib64/python2.7/site.pyc

Before 20.0.x, the location of site is under the location of virtualenv, this change make some broken in our current product.

Please check this is a bug or expected.

[2020-02-13 07:54] gaborbernat commented on #1603
This is very much expected. It should have always been the standard library path, and this now has been fixed.

[2020-02-13 07:54] #1603 closed

[2020-02-13 07:59] mattip commented on #1602
It seems the PyPy2 class does copy include files. Would it be acceptable to move the include-copying-code to the base class, or is there some expected use of the `pyvenv.cfg` file that PyPy3 does not implement?

[2020-02-13 08:03] mattip commented on #1602
output of -vvv

<details>

[code]

[2020-02-13 08:04] gaborbernat commented on #1602
Yeah in this case it's. I know cpython doesn't copy symlink the include headers. I believe pip/interpreter parses the pyenv.cfg and knows where the headers are. I actually have a test for this and for me pip does this correctly for pypy3. What output you're seeing during the build? The include headers should be there.

[2020-02-13 08:05] gaborbernat commented on #1602
Notably https://github.com/pypa/virtualenv/tree/master/tests/unit/seed/test_extra_install.py

[2020-02-13 08:09] gaborbernat commented on #1602
While I have your attention can we do something about https://bitbucket.org/pypy/pypy/issues/3155/pypy3-on-windows-uses-non-windows-install?

[2020-02-13 08:10] gaborbernat commented on #1602
The reason why earlier virtualenv needed to copy those headers is because we were not using the pyenv.cfg standard Python 3 understands. This now has been fixed with 20.x.

[2020-02-13 08:13] kyanite commented on #1603
So how easily to get the path of site-packages under virtualenv?

[2020-02-13 08:16] gaborbernat commented on #1603
You should be manifesting the sysconfig paths for the purelib if this is the goal, can post snippet later.

[2020-02-13 08:17] hugovk commented on #1576
Confirmed working, thank you very much for the quick fix, and also for maintaining and updating virtualenv! I've seen about a 30 second speedup running tox on a Mac.

[2020-02-13 08:19] gaborbernat commented on #1603
On Python 2 only, you can use the os modules file path, 👍That's a Landmark file for the python bootstrap operation so is guaranteed to exist on cpython/pypy - but not in case of other implementations. The purelib sysconfig path is the most stable across all implementations.

[2020-02-13 08:19] mattip commented on #1602
Cool, so it is something about a non-packaged local build. We are seeing this in our nightly buildbot runs, which compile in-place then create a virtualenv for testing. The cc command is getting an include path inside the virtualenv

[2020-02-13 08:21] mattip commented on #1602
I am looking at that other issue too. Note yesterday we moved our hosting to foss.heptapod.net, so the link for the issue should be https://foss.heptapod.net/pypy/pypy/issues/3155 (same issue number). A more formal announcement of the change should happen soonish

[2020-02-13 08:24] gaborbernat commented on #1602
To understand why it's not working for non packaged local builds I think we'll need to look into pip logic 🤔how it gets this. It mostly uses distutils include path with the home prefix, maybe that's not existing and fallbacks to the virtualenv path 🤔

[2020-02-13 08:26] mattip commented on #1602
Can you point me to a link or code that shows what python does with that file? i don't get any joy when I grep `pyenv` in the sources

[2020-02-13 08:31] gaborbernat commented on #1602
It's spread across multiple c files 🤔my europython talk about virtualenv mentions it, can't remember from top of my head, can post later.

[2020-02-13 08:33] gaborbernat commented on #1602
However if pip fails to locate correctly the include path, but the python env otherwise works we need to check distutils.install and pips code to understand why not.

[2020-02-13 08:43] gaborbernat commented on #1577
@nsoranzo that's #1561 Apple Framework Python 2 is weird.

[2020-02-13 08:44] gaborbernat commented on #1601
Most new tools use this to show clearly where that version is coming from, as the package might be installed in multiple destinations.

[2020-02-13 08:44] #1601 closed

[2020-02-13 08:46] gaborbernat commented on #1600
We need to convince our script maker to use the target environments version, not the host pythons version at https://github.com/pypa/virtualenv/blob/master/src/virtualenv/seed/via_app_data/pip_install/base.py#L133-L140

[2020-02-13 09:34] mattip commented on #1602
My mistake, this happens on a local build of python2.7. Starting the analysis over.

[2020-02-13 09:35] #1602 closed

[2020-02-13 09:42] gaborbernat commented on #1602
So what happened here?

[2020-02-13 09:56] mattip opened #1604 "pypy2 -mvirtualenv pypy_venv creates include/UNKNOWN instead of include"
the include directory under pypy2 has an extra component, the files themselves are located inside `include/UNKNOWN`

<details>

[code]
The last line outputs `pypy_venv/include/UNKOWN`, I expected it to list the header files. They are under the `UNKNOWN` directory.

The debug output is

[code]

[2020-02-13 10:11] mattip commented on #1604
I can see the log file has this line
[code]

[2020-02-13 10:20] gaborbernat commented on #1604
Is this on local build only?

[2020-02-13 10:21] mattip commented on #1604
no. This is a download of a latest build tarball

[2020-02-13 10:24] gaborbernat commented on #1604
🤔 https://github.com/pypa/virtualenv/tree/master/src/virtualenv/create/via_global_ref/builtin/pypy/pypy2.py seems we use the distutils install include pattern here that has that, need to check why this did not happen in our test environments

[2020-02-13 10:37] ssbarnea opened #1605 "virtualenv should lower deps on six to six>=1.9.0"
The current removal of six vendoring from virtualenv introduced some serious problems with installation of virtualenv on operating systems that shipped with older versions of six. Examples are CentOS 7/8 and RHEL 7/8.

Upgrading six with pip will break the support-contract. By keeping a more relaxed dependency this can be avoided and people could avoid failures when installing virtualenv on these

[2020-02-13 10:41] gaborbernat commented on #1605
Six was never vendored, we just added it. The problem here I think is that generally it's not recommended to install tools in the global namespace, use the zipapp in such cases of use pipx. 🤔Is an option.

[2020-02-13 10:42] gaborbernat commented on #1605
That being said if someone fills in a pr trying to achieve this I'll review it and accept it, but I have no plan to work on this myself.

[2020-02-13 10:46] ssbarnea commented on #1605
Thanks for confirming, I was afraid you might refuse it. Now I can investigate how hard it would be to lower the min version needed.

[2020-02-13 10:51] gaborbernat commented on #1605
A hack, but low hanging solution is to vendor just ensure text and ensure str into our util package 🤷‍♂️

[2020-02-13 10:59] gaborbernat commented on #1604
@mattip can you provide additional information? mainly OS, link to the tarball, how you installed it?

[2020-02-13 11:13] misl6 commented on #1584
Same issue in `Ubuntu 18.04.4 LTS` when creating a `virtualenv` on a FUSE mounted NTFS partition.

[2020-02-13 11:16] gaborbernat commented on #1604
So the issue here is this commit here - https://foss.heptapod.net/pypy/pypy/commit/20835e74034bdb30c1276ce8dd7cbc355a29e890 - the dist name is UNKNOWN... which causes this behaviour 🤔

We used to hard code the include folder per platform and interpreter... which caused a lot of issues when distributions altered the paths. Instead of hardcoding the new virtualenv now follows distutils install patte

[2020-02-13 11:16] #1604 closed

[2020-02-13 11:23] mattip commented on #1604
Thanks for finding that. So we should not only fix that, but have a pypy_win scheme as well which would help with https://foss.heptapod.net/pypy/pypy/issues/3155

[2020-02-13 11:25] gaborbernat commented on #1604
Yes 👍

[2020-02-13 11:31] mattip commented on #1604
On windows, will the `name` in `select_scheme` always be `os.name` ?

[2020-02-13 11:34] mattip commented on #1604
no, I see 'nt_user' as well

[2020-02-13 11:39] gaborbernat commented on #1604
Note on my windows bug report, https://bitbucket.org/pypy/pypy/src/release-pypy3.6-v7.3.0/lib-python/3/distutils/command/install.py#lines-464:466 is that selects the scheme 👍

[2020-02-13 11:41] ssbarnea commented on #1605
I am already working on this but given the nature of six, and how often is updated I wonder if vendoring the entire file would not be easier. You should see the first POC PR soon.

Probably we will need jobs to test min-requirements if we do not already have them.

[2020-02-13 11:41] gaborbernat commented on #1604
I believe windows falls under finalize other https://bitbucket.org/pypy/pypy/src/1608da62bfc71e8ac775121dd0b21bb72e61c6ea/lib-python/3/distutils/command/install.py#lines-278:281

[2020-02-13 11:43] gaborbernat commented on #1605
I'm personally not a fan of vendoring code; so 🤷‍♂ prefer to have as little as possible vendored code

[2020-02-13 11:47] mattip commented on #1604
A bit of rubber ducking, please ignore if you are busy.

we can't just remove the `$dist_name` from the header entry in the scheme, this breaks pybind11, which was why I made this change in the first place. What really should happen is that when instantiating the schema, if `$dist_name` is `UNKOWN` it should not be replaced. So now I have to find who actually looks up and replaces the value.

[2020-02-13 11:50] gaborbernat commented on #1604
Here's where we get the data -  https://github.com/pypa/virtualenv/blob/master/src/virtualenv/discovery/py_info.py#L111-L118

[2020-02-13 11:52] mattip commented on #1604
it's in `distutils.util.subst_vars`

[2020-02-13 11:52] gaborbernat commented on #1604
The install headers are materialised here https://bitbucket.org/pypy/pypy/src/1608da62bfc71e8ac775121dd0b21bb72e61c6ea/lib-python/3/distutils/command/install.py#lines-489, so https://bitbucket.org/pypy/pypy/src/1608da62bfc71e8ac775121dd0b21bb72e61c6ea/lib-python/3/distutils/command/install.py#lines-473:480

why does pybind11 needs this unknown there?

[2020-02-13 11:59] mattip commented on #1604
it doesn't need `UNKOWN`. Conda needs the $dist_name in the schema for headers otherwise it messes up conda's install schema

[2020-02-13 12:03] gaborbernat commented on #1604
Ugh interesting 😃

[2020-02-13 12:25] mattip commented on #1604
so  _subst `UNKNOWN` is stuffed into the header path, since that is the value of `$dist_name`. It seems that `$dist_name` is only used in `headers`.  It comes from `distutils.dist.py`'s `DistributionMetadata` class. Is `Unkown` ever the correct value there?

[2020-02-13 12:34] mattip commented on #1604
I guess the better question is: why doesn't this happen on linux? The value of `$dist_name` there is also `UNKNOWN` (I think) and appears in the schema

[2020-02-13 12:40] Imaskar commented on #997
Thank you for acting quick!
I tried 20.0.2 and it worked. It generates full shebang on macOS which supports long paths, and short on Linux.

[2020-02-13 12:43] mattip commented on #1604
If I set up a python2 virtualenv, and then using that virtualenv `pip install pybind11`, then `pip uninstall pybind11`, I see it installs headers into `cpython2_virt/include/site/python2.7`. But the `header` value in all the schemas have 'include/python` in them and end with `$dist_name`. Confusing. Where does `site` come from?

[2020-02-13 13:08] mattip commented on #1604
Getting somewhere. I think the problem is PyPy2 does not define `sys.real_prefix` for a virtualenv. So pybind11 tries to check if it is in a virtualenv, and installs differently.

[2020-02-13 13:16] gaborbernat commented on #1604
real prefix is an old virtualenv thing 🤔no interpreter sets it besides old virtualenv 🤔

[2020-02-13 13:18] mattip commented on #1604
no, that is only if you are using an activated virtualenv. This is all without activation.

[2020-02-13 13:19] mattip commented on #1604
So back to where 'site' comes from?

[2020-02-13 13:19] gaborbernat commented on #1604
this here getting a bit long-winded, do pypy has some chat (gitter, etc) form where we can take this?

[2020-02-13 13:20] mattip commented on #1604
there is some 'site' strings in `pip/_internal`

[2020-02-13 13:21] mattip commented on #1604
Sorry, I will stop

[2020-02-13 13:21] gaborbernat commented on #1604
I want to continue the discussion on this, just on a more chat-based environment if that's possible 👍

[2020-02-13 13:42] kyanite commented on #1603
thanks @gaborbernat , looks like purelib works as i wanted

[2020-02-13 13:51] bersace commented on #1549
We use `--relocatable` to bundle a venv in an rpm. virtualenv is created in $DESTDIR and finally moved in `/opt/company`.

[2020-02-13 15:29] rubendibattista opened #1608 "New v20.0.3 missing __version__?"
I'm updating the `virtualenv` [package on Macports](https://github.com/macports/macports-ports/pull/6365) and I'm getting this error:

[code]

(I actually can't find the `version.py` module where in `virtualenv.__init__.py` the version is imported from... But it's also not present in `v20.0.2`, so I guess there's some magic somewhere that stopped working... :))

[2020-02-13 16:04] gaborbernat commented on #1608
How is macports generating the package? Via wheel sdist?

[2020-02-13 16:05] gaborbernat commented on #1608
Do you provision the build requirementes per pep 517?

[2020-02-13 16:58] #1605 closed

[2020-02-13 17:06] #1608 closed

[2020-02-13 17:07] ssbarnea opened #1609 "Failed to install virtuallenv from source on a centos-7 container"
It seems that packaging is no longer compatible with older tool chains and even installing virtualenv from source become an interesting challenge.

[code]

Ho to reproduce:
[code]
Note, pycontribs already has system python+libs installed, so you don't waste time installing rpms.

[2020-02-13 17:17] ssbarnea commented on #1609
Even easier to test via:
[code]

The surprise is bigger as command returns success but fails to install virtualenv, mainly installing UNKNOWN bogus package instead.

 I do know that this is caused by lack of knowledge about pyproject.toml in older pip/setuptools, but that is why we were supposed to have a setup.py that would work as a fallback.

[2020-02-13 17:34] ssbarnea commented on #1609
To summarize there is no documented way to build the virtualenv wheels.
* `tox -e release` cannot be used by people that do not push a release
* documentation mentions nothing about building a distro wheel+source
* there is no other tox evironment that would just package it inside dist/
* old `python setup.py bsdist_whell` is also broken.

[2020-02-13 17:48] #1582 closed

[2020-02-13 17:51] gaborbernat commented on #1609
We no longer support that old age pip. Upgrade your pip to 19.x something and you should be good, or use the wheel.

[2020-02-13 17:51] #1609 closed

[2020-02-13 18:05] gaborbernat commented on #1609
What's the use case here, can't you use the zipapp?

[2020-02-13 20:04] ashutoshkumr opened #1611 "Creating virtualenv fails on Windows due to permission error when using Python3.6"
Works with version 16
----------------------
[code]

Fails with version 20
---------------------

[code]

Pip List
--------
[code]

[2020-02-13 20:46] dpvpro commented on #1549
This is my case.

[2020-02-13 21:33] gaborbernat commented on #1549
So would help to be able to pass in the final target upfront for paths generated?

[2020-02-13 23:08] #1596 closed

[2020-02-13 23:08] asottile opened #1612 "Produce python#.# executables when using pypy"
Followup to #1610 / #1596

[2020-02-13 23:44] asottile opened #1614 "20.0.3: making a pypy2 virtualenv from pypy3 loses libpypy so"
minimal reproduction:

[code]

[code]

[2020-02-13 23:49] asottile commented on #1614
I think (?) this is what I was hitting while trying to implement #1612

[2020-02-14 08:21] bersace commented on #1549
@gaborbernat yes !

[2020-02-14 08:21] bersace commented on #1549
@gaborbernat still, the virtualenv should be usable during build phase, before deployment on final location.

[2020-02-14 08:31] gaborbernat commented on #1611
Can you please attach a list of files present within C:\Program Files (x86)\Ixia\Python\3.6.4? Thanks!

[2020-02-14 08:33] ssbarnea opened #1617 "produce build artifacts for master branch"
Virtualenv CI should product build artifacts for each change made to master branch.

There is no need to overload PyPi with pre-releases and because we use Azure Pipelines it should be easy to build and publish artifacts using their feeds.

See https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/universal-packages?view=azure-devops&tabs=yaml -- Universal Artifact Feed is likely what

[2020-02-14 08:36] gaborbernat opened #1618 "Document pip requirements for installation"
We should document under https://virtualenv.pypa.io/en/latest/installation.html#via-pip pip minimal version requirement for both wheel and sdist.

[2020-02-14 08:38] gaborbernat opened #1619 "Document not supporting pre PEP-518 build systems and suggest workarounds"
Though we don't support ``setup.py bdist_wheel`` we should mention that if one ensures build-requires are present things "should work". But in such cases, the responsibility falls onto whoever does the build to ensure pyproject.toml is kept in sync with such dependencies.

[2020-02-14 08:40] gaborbernat opened #1620 "Document installing latest from source"
Prefer a new enough pip. Not sure if we want them to build the wheel/sdist... if the goal is to have latest, just install via a new enough pip straight from git. See #1616

[2020-02-14 08:44] gaborbernat commented on #1617
What would be the value in generating these wheels?

[2020-02-14 08:51] gaborbernat opened #1621 "fail with better error message if our build requirements are not satisfied"
👍

[2020-02-14 08:57] ssbarnea commented on #1609
I do not even remember zipzapp being mentioned in openstack channels, and I am sure it will not be embraced until we will not have any LTS release using on py35+, so years away. I doubt a change to use different installers base on version would gain many adopters. While the newer releases require py36 the CI/CD runs on several releases and needs to keep doing so. As you can imagine tox and virtual

[2020-02-14 09:15] gaborbernat commented on #1617
So the idea here would be to make easier for people to test with the latest master; I'm ok with publishing snapshot wheels from master to Azure DevOps (the goal here mainly would be to allow installation on platforms that don't have a recent pip capable of building a wheel out of box).

[2020-02-14 09:20] ashutoshkumr commented on #1611
Attached recursive list of files inside  C:\Program Files (x86)\Ixia\Python\3.6.4 (Check out.log).
[out.log](https://github.com/pypa/virtualenv/files/4203694/out.log)

[2020-02-14 09:25] gaborbernat commented on #1617
[code]

[2020-02-14 09:34] Paradoxis opened #1622 "Attribute 'real_prefix' missing in latest release of virtualenv"
After upgrading to the latest version of virtualenv, the property `real_prefix` on `sys` no longer seems to be present whereas it was before. Minimal reproduction steps:

[code]

This attribute is used in many of my packages to check that the current installation is inside of a virtualenv to prevent cluttering the system with global packages. Is there any plan of re-introducing this property or ha

[2020-02-14 09:57] gaborbernat commented on #1622
The latest virtual environment no longer sets this as we no longer generate old-style virtual environments, but rather venv style ones. The ``venv`` module instead sets ``base_prefix``, so that's what we do too.

[2020-02-14 09:57] #1622 closed

[2020-02-14 09:59] xavfernandez opened #1624 "Discover python in a case insensitive way"
Thanks your impressive work on the rewrite !

Everything works fine on my part but was actually surprised by:

[code]

IMHO the interpreter discovery shouldn't consider the case.

[2020-02-14 10:00] gaborbernat commented on #1624
@xavfernandez makes sense, feels like an oversight 👍

[2020-02-14 10:04] gaborbernat commented on #1584
Should be resolved via https://github.com/pypa/virtualenv/issues/1596

[2020-02-14 10:04] #1584 closed

[2020-02-14 10:10] gaborbernat commented on #1549
Not sure what's a good solution here 🤔 I am open to proposals.

[2020-02-14 10:16] bersace commented on #1549
@gaborbernat for such case, the standard behaviour is to distinguish builddir and prefix.

virtualenv has a `DEST_DIR` argument that may be misleading in this case. `DEST_DIR` is actual venv location, which is effectively a prefix (just like /usr, /usr/local, etc.). So maybe, documenting `virtualenv LOCATION` should make this clearer.

Then you can add a `--destdir` or `--root` option which defaul

[2020-02-14 10:33] ssbarnea commented on #1542
I will take care of this.

[2020-02-14 10:33] ssbarnea commented on #1541
I will take of this, too.

[2020-02-14 10:38] gaborbernat commented on #1549
AFAIK the problem is that all generated console scripts hardcode the path during creation for the shebang. There's no standard way to make these generated console scripts with shebangs in them work both during the build and during the run after deployed. That is unless after the build someone fixes the shebangs. But that's now out of scope for virtual environment creation, so out of our control.

[2020-02-14 10:44] gaborbernat commented on #1399
Note, this would replace our current hack of adding pydoc as part of the activation script.

[2020-02-14 10:48] bersace commented on #1549
@gaborbernat you mean that we should implement this in setuptools ? What shebang can be used both isolated at build time and in target location at runtime ?

[2020-02-14 10:51] bersace commented on #1549
I'm thinking of writing a `virtualenv-relocate` script that edit shebangs on an existing virtualenv, making it usable in its new location. Something like :

[code]

[2020-02-14 10:54] gaborbernat commented on #1549
I don't think setuptools is a good place for this either. It's a feature that should be part of the build system that builds in location A but then deploy to location B.

[2020-02-14 10:57] bersace commented on #1549
Well, C project allows to build isolated by simply editing PATH and LD_LIBRARY_PATH. No matter of what build system you use.

[2020-02-14 11:01] gaborbernat commented on #1549
I'm not familiar with how C achieves this, maybe someone can explain, link to it? What has been happening before is here https://github.com/pypa/virtualenv/blob/legacy/virtualenv.py#L1880-L1894; we've been basically trying to make some paths relative: namely scripts and pth/egg-files.

[2020-02-14 11:11] Paradoxis commented on #1622
@gaborbernat so to clarify, is that the 'accepted' method of checking wether the program is running inside a virtual envrionment or is there a new and improved api to do so?

[2020-02-14 11:15] gaborbernat commented on #1584
Hello, a fix for this issue has been released via virtualenv 20.0.4; see https://pypi.org/project/virtualenv/20.0.4/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-4-2020-02-14). Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks f

[2020-02-14 11:15] gaborbernat commented on #1582
Hello, a fix for this issue has been released via virtualenv 20.0.4; see https://pypi.org/project/virtualenv/20.0.4/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-4-2020-02-14). Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks f

[2020-02-14 11:58] gaborbernat commented on #1622
It's checking either real prefix or base prefix exists 👍

[2020-02-14 14:29] PrajwalM2212 commented on #1624
I would like to work on this.

[2020-02-14 16:05] hyperknot opened #1630 "pip install virtualenv broken / missing zipp package"
Thanks for submitting an issue!

If submitting a BUG please provide:

- [x] Minimal reproducible example or detailed descriptions
- [x] the output of the virtual environment creation with the `-vvv --with-traceback` flags included
- [ ] `pip list` of the environment where virtualenv is installed into if not using the zipapp

I've created a minimal reproducible Dockerfile, it's self explanatory:

[

[2020-02-14 16:08] #1621 closed

[2020-02-14 16:13] hyperknot commented on #1630
The same commands work if I change Ubuntu's version number to 18.04

[2020-02-14 16:22] hyperknot commented on #1630
So I got some help on IRC, `pip install -U pip` fixed this issue.

Still, this would be great to either:
- fixed or
- terminate the installation with an error message if the system's pip version is too old to support recent versions

[2020-02-14 16:25] gaborbernat commented on #1630
We've just today improved on this with https://github.com/pypa/virtualenv/pull/1628; though just trying it seems this gets you to:

[code]

As the zipp packages can't work with setuptools 41.0.0...

[2020-02-14 16:26] gaborbernat commented on #1630
setuptools 42.0.0 works though in this case 👍

[2020-02-14 16:26] asottile commented on #1630
this isn't a bug in virtualenv, if you `pip install zipp` you'll see the same issue

it's a combination of two things:

1. `pip<9` will ignore `python_requires` selecting the latest version
2. python2.x pip cannot utilize the `py36-none-any` wheel so it must build from source
3. `setuptools<30.3` cannot build declarative metadata packages from source

so you end up with:
- a broken installation of

[2020-02-14 16:27] asottile commented on #1630
@gaborbernat I don't think this is virtualenv itself, since a `py2.py3-none-any` wheel is provided there, and that will be used all the way back to `pip==1.5`

[2020-02-14 16:28] gaborbernat commented on #1630
Yeah, it's not itself; but our users are hit with this; I'm tempted to bump https://github.com/pypa/virtualenv/blob/master/setup.py#L4 to 42... which seems to solve it.

[2020-02-14 16:30] asottile commented on #1630
that code doesn't run at all when installed from a wheel

[2020-02-14 16:30] hyperknot commented on #1630
From a user point of view, the best would be an error message saying something like: "Unsupported pip version, please run 'pip install -U pip' first".

[2020-02-14 16:32] gaborbernat commented on #1630
In case of a wheel installation, we can't do anything, the issue is already past us. If someone is installing from the source than they don't necessarily need newer pip, just newer setuptools. If they have newer setuptools we can fail with something more helpful. This is the best we can do here I believe.

[2020-02-14 16:33] hyperknot commented on #1630
You could even display that at runtime. It should simply display an error message when run on very old pip versions.

[2020-02-14 16:36] asottile commented on #1630
@gaborbernat that doesn't help though, pip will still install a version of `zipp` that's incompatible with the running python (1.1 is the last version supporting python2.x):

[code]

[2020-02-14 16:38] gaborbernat commented on #1630
Thinking this through I don't think we can do anything here. If it's already installed the only way we would know if our dependencies are correct is to manually check... and that's very expensive.

[2020-02-14 16:38] #1630 closed

[2020-02-14 16:42] gaborbernat commented on #1630
All we need to do here is to document what @asottile said above as per https://github.com/pypa/virtualenv/issues/1618

[2020-02-14 16:42] carsongee opened #1632 "Issue with prefixes causing a circle in version >= 20.0.0"
With virtualenv >= 20.0.0 I'm getting a `prefixes are causing a circle` `RuntimeError` that doesn't occur in earlier versions.

Here is the command:
`python3.7 -m virtualenv --no-download --python ~/.virtualenvs/test-pytest/bin/python3.7 py37 -vvv --with-traceback`
and the output:
[code]
I tried all versions above 20.0.0, including straight from master with the same error message.

With `16.7.9` t

[2020-02-14 16:42] gaborbernat commented on #1618
See https://github.com/pypa/virtualenv/issues/1630#issuecomment-586362647 for context.

[2020-02-14 16:49] pfmoore commented on #1630
Given that pip already produces a warning (which I notice you disabled in the docker script) when you use an older version, suggesting that you upgrade, would adding another message telling you that you are on an out of date version actually help?

(That's not a rhetorical or sarcastic question - one of the big problems with Python packaging is that whenever we introduce new standards, older versi

[2020-02-14 16:53] gaborbernat commented on #1632
@carsongee if you can submit a CentOS 7 docker image replicating the issue that would be most helpful, thanks!

[2020-02-14 17:10] hyperknot commented on #1630
Where? I see all the warnings, Python 2.7 EOL, etc.

Anyway, maybe the best thing we could do is to have this here for Google, at least now it finds this issue for "ImportError: No module named zipp".

[2020-02-14 17:18] asottile commented on #1614
iiiiinteresting, this is what I'm seeing:

[code]

I've got pypy set up so that `pypy2` is a symlink -- I can probably sprinkle some readlink and fix this!

[2020-02-14 17:20] hyperknot commented on #1630
That's needed in Dockerfile to avoid caching. I was thinking of some kind of Warning like the 2.7 EOL red lines, those are very visible.

[2020-02-14 17:23] hyperknot commented on #1630
So I tried without it, and it just shows that meaningless.
[code]

line. Of course everyone disables this in Dockerfiles as this is always displayed, even as a soon as 20.0.3 will be released.

[2020-02-14 18:03] ssbarnea opened #1633 "ci: ERROR collecting tests/unit/discovery/py_info/test_py_info_exe_based_of.py"
I seen error below on CI and seems totally unrelated to the change being tested.

https://dev.azure.com/pypa/virtualenv/_build/results?buildId=19019&view=logs&jobId=cc0564e1-d822-5f24-0bbb-f60430a68e65&j=cc0564e1-d822-5f24-0bbb-f60430a68e65&t=9fc317a6-b66c-593b-646c-b1040cd24f7e

[code]

For sure I was not ablet to reprodue the same error locally, on same platform.

[2020-02-14 18:15] ssbarnea commented on #1624
I think it would be wrong to be case insensitive. Most platforms are case-insensitive. Even MacOS switched to defaulting to case-insensitive in recent years.

If you give a param, you better know what you type.

[2020-02-14 18:21] ssbarnea opened #1634 "🚒 unicode garbage seen while running virtualenv tests"
Not sure where it comes from but I keep seeing garbage on pytest output while running virtualenv tests on MacOS. This happened on two different machines.

[code]

[2020-02-14 18:54] carsongee commented on #1632
I know this is quite convoluted, but here is a `Dockerfile` that will do it.  The issue is that I'm working in a complex environment where `sys.real_prefix` is the same as the `sys.prefix`:
[code]

[2020-02-14 19:15] asottile commented on #1634
this is intentional, there's a test which validates that virtualenv can create environments within unicode paths

[2020-02-14 20:19] arlaneenalra opened #1635 "Setting install_scripts in distutils.cfg results in a broken virtualenv install."
- [ /] Minimal reproducible example or detailed descriptions:

Due to a need to have multiple, non-interfering python installs running locally on a machine. We have a custom distutils.cfg (as per https://docs.python.org/3.6/install/index.html?highlight=distutils%20cfg#distutils-configuration-files ) that has an `install_scripts` flag set in the mentioned system path.

Example `distutils.cfg` for m

[2020-02-14 20:21] arlaneenalra commented on #1635
I will note that this works as expected in 16.7.9

[2020-02-14 20:31] gaborbernat commented on #1634
That being said these should cleanup nicely not show that errors so there's a bug somewhere in our test suite 🤔

[2020-02-14 20:31] #1612 closed

[2020-02-14 20:31] #1614 closed

[2020-02-14 21:46] andrewegel commented on #1632
Reporting the same bug here on MacOS, only I'm highlighting the old vs new-unexpected behavior in a (hopefully) easy reproduction case:

[code]

Now at this point I expect the python and pip "binaries" to be under `~/.mac-os-venv/bin/*`, but they now seem to be under `~/.mac-os-venv/<sourced-prefix>/bin/*`:

[code]

This behavior change messes with tools like `tox` that expect to have the `pip` bi

[2020-02-14 21:54] asottile commented on #1600
I believe distlib needs a feature to make this happen: https://bitbucket.org/pypa/distlib/issues/134/scriptmaker-ability-to-select-the-version

[2020-02-14 21:54] arlaneenalra commented on #1632
Is this the same thing I'm seeing in https://github.com/pypa/virtualenv/issues/1635 ?
@andrewegel your description seems to match the behavior I was seeing ...

[2020-02-14 22:02] andrewegel commented on #1632
@arlaneenalra  - I guess the only difference would be that I'm using python3.7 that came with my work-provisioned MacOS under /usr/bin/python3. The maintainers can disregard my comment here.

[2020-02-14 22:04] andrewegel commented on #1635
As from #1632 i'll re-paste here:

Reporting the same bug here on MacOS, only I'm highlighting the old vs new-unexpected behavior in a (hopefully) easy reproduction case:

[code]

Now at this point I expect the python and pip "binaries" to be under `~/.mac-os-venv/bin/*`, but they now seem to be under `~/.mac-os-venv/<sourced-prefix>/bin/*`:

[code]

This behavior change messes with tools like `to

[2020-02-15 09:16] Gagi2k commented on #1549
My repository is also using --relocatable and i'm using an script (after the relocatable virtual env was created) to copy additional libraries to the virtualenv. With this, it was possible to create virtualenv which is fully relocatable. E.g. we use this on windows and add the virtualenv to the our installer. After the installation the python3 programs are working fine with the packaged virtualenv

[2020-02-15 09:20] ssbarnea commented on #1561
Is this bug the same reason for seeing https://dev.azure.com/pypa/virtualenv/_build/results?buildId=19042&view=logs&jobId=cc0564e1-d822-5f24-0bbb-f60430a68e65&j=cc0564e1-d822-5f24-0bbb-f60430a68e65&t=9fc317a6-b66c-593b-646c-b1040cd24f7e ?

[2020-02-15 09:21] gaborbernat commented on #1561
It could be, though should not.

[2020-02-15 09:25] gaborbernat commented on #1549
@Gagi2k what you do there already showed the fragility of the current relocatable implementation; you needed to do some additional scripts after the env was created to make it fully relocatable. The problem is how you can make a package fully relocatable is heavily dependent on your target environment. So the idea here is that virtualenv itself gives up on trying to make its environments fully rel

[2020-02-15 09:27] ssbarnea commented on #1634
Given the nature of the string I expected to be related to an unicode test but apparently that comes multiple times in the long console log. I wonder if we can find a way to make it less distracting. Do we need emoji or CJK on it or is enough to use something less visible?

![ss](https://sbarnea.com/ss/Screen-Shot-2020-02-15-09-25-11.25.png)

[2020-02-15 09:29] gaborbernat commented on #1634
I like the fact it's visible; it's very helpful when things break and you need to test what's up.

[2020-02-15 09:29] #1634 closed

[2020-02-15 09:33] gaborbernat commented on #1633
I'm fairly certain this is our python 2 macos bugs manifestation 👍

[2020-02-15 09:36] Gagi2k commented on #1549
True, fair point.

My problem is more or less that i now need to recreate the functionality you provided before and test it on all platforms + several distros to do exactly the same as the old function.

I think i will try to stick with an older virtualenv version for now until me or someone else has the time to implement this.

[2020-02-15 09:54] ssbarnea opened #1637 "Consider using release-drafter to update github release notes"
Currently, the releases notes on releases page on GitHub are empty and, with minimal effort, it would be possible to auto-update them based on merged PRs.

On few projects I used https://github.com/release-drafter/release-drafter to automate it. Basically it uses PR metadata to update the release notes there.

That is not a proposal to drop the towncrier.

[2020-02-15 11:41] #1624 closed

[2020-02-15 15:51] bersace commented on #1549
@Gagi2k see my comment above about a `virtualenv-relocate` project idea. I'll be happy to cooperate on this with other. https://github.com/spotify/dh-virtualenv/ may be a good starting point.

[2020-02-15 15:52] jaraco opened #1638 ""no module named posixpath" with virtualenv 20"
In pypa/setuptools#1998, I observed a regression in the Setuptools test suite when virtualenv 20 is used to create the test env.

Thusfar, I've only been able to replicate the issue in the Setuptools test suite. I'm working now on creating a more selective reproducer.

[2020-02-15 16:29] jaraco commented on #1638
I've been able to pare the problem down:

First, create two envs on select versions of virtualenv:

[code]

Then, create a pkgs to put on PYTHONPATH:

[code]

Note that this `pkgs` directory is comparable to what `setup.py develop --install-dir pkgs` or `pip install -e <dir> --target pkgs` would install by way of [install_site_py](https://github.com/pypa/setuptools/blob/c0154f47121ca107095eb52ca14

[2020-02-15 16:34] gaborbernat commented on #1638
Wait, what? You're replacing site.py with something else? That's just not supported at the moment. Why would anyone want to do this, is that really a smart Idea?

[2020-02-15 16:44] Gagi2k commented on #1549
@bersace thx, i already copied the old code now and created a standalone python script out of it. I think i will use that for now as a drop-in-solution, but i'm happy to switch to something else in the future or contribute the scripts i have.

[2020-02-15 16:47] jaraco commented on #1638
I know, right? It's filthy and ugly, and apparently has been around for quite some time (pypa/setuptools@8c89c9438e9e461acc7587b60c79fb94b4d1f06d, pypa/setuptools@3df2aabcc056e6d001355d4cec780437387ac4fa).

I'm not sure. There's some background in the second link above.

[2020-02-15 17:08] gaborbernat commented on #1638
virtualenv 20 is just by implementation incompatible with this approach, so not sure what we can do 🤷‍♀️

[2020-02-15 17:09] gaborbernat commented on #1638
So sounds like to me won't support. I believe all such use cases that want this should move to pth files. 🤔

[2020-02-15 19:25] #1638 closed

[2020-02-15 19:29] gaborbernat commented on #1638
That's a commit from 2005. I think with 2020 on our hands we can safely mark that unsupported for whoever ``refuse to give up their existing non-root PYTHONPATH setup unless you pry it from their cold, dead hands.``. If they want that behaviour use old virtualenv; or use old setuptools. I'd remove this feature from core setuptools.

[2020-02-15 21:48] alex opened #1639 "Error running `pip install virtualenv` under pypy-5.4"
Full log here: https://travis-ci.org/pyca/cryptography/jobs/650916996

Relevant bit:

[code]

It's deeply unclear to me what is happening -- I don't have a clue what all these "unknown" values are. Normally I'd assume that was a pip bug, but since virtualenv just underwent a substantial rewrite...

[2020-02-15 22:00] xavfernandez commented on #1639
It likely comes from your old  `pip 8.1.2` version that does not understand `pyproject.toml` (and also the fact that it uses an old setuptools that does not understand `setup.cfg`.

[2020-02-15 22:04] alex commented on #1639
I'm attempting to update pip before installing virtualenv with it, will report back on how that works.

[2020-02-15 22:13] alex commented on #1639
Upgrading pip seems to solve this. If that's considered sufficient, I'm happy to close this.

[2020-02-15 22:18] gaborbernat commented on #1639
Consider this duplicate of https://github.com/pypa/virtualenv/issues/1618

[2020-02-15 22:18] #1639 closed

[2020-02-15 22:19] gaborbernat commented on #1639
@xavfernandez the zipp dependency is not installed from wheel, that's where the error comes from.

[2020-02-15 23:31] legoktm opened #1640 "virtualenv shouldn't fatal if lock directory isn't writable"
Traceback/reproduction steps:
https://gist.github.com/legoktm/533669e450d0f5f41838a4e9b858d774

By default the lock directory seems to be `~/.local/share/...`, but this is problematic in our setup, where our home directory is set to `/nonexistent`.

Wouldn't it be better to store temporary lock files in a temporary directory aka `/tmp` (and its equivalents on other OS's)?

Also, I don't expect the

[2020-02-16 00:15] gaborbernat commented on #1640
This would make sense 👍 I'll add it as an enhancement request.

[2020-02-16 08:50] gaborbernat commented on #1637
This would only make sense if we could make it so that it uses the changelog entries; not commit messages. I don't see an easy way of this now, and would rather not have two separate changelog locations; so, for now, we only populate these under vNext at https://virtualenv.pypa.io/en/latest/changelog.html#release-history; which I think is fine.

[2020-02-16 08:50] #1637 closed

[2020-02-16 09:14] gaborbernat commented on #1633
Confirmed; it's duplicate of https://github.com/pypa/virtualenv/issues/1561

[2020-02-16 09:14] #1633 closed

[2020-02-17 07:50] bersace commented on #1549
@Gagi2k would you mind to share it ?

[2020-02-17 14:00] jaraco commented on #1638
This may be the best course of action.

Regardless, I think there's a more serious issue at play here. Somehow environments created by `venv` aren't subject to this issue, only `virtualenv 20` is. That signals to me that the new virtualenv might be doing something more invasive and potentially problemmatic to other use cases.

I explored further and discovered that the issue does not happen on rec

[2020-02-17 14:39] gaborbernat commented on #1638
I could have told you this upfront. We inject our own custom ``site.py`` for ``python 2`` to fix up ``sys.path`` paths, and then that calls the system ``site.py``. If you overwrite that, things will not work; see https://github.com/pypa/virtualenv/blob/master/src/virtualenv/create/via_global_ref/builtin/python2/site.py

This was no different with the old virtualenv; but we linked more of stdlib in

[2020-02-18 09:24] gaborbernat opened #1642 "logo for virtualenv"
Would be nice to have a logo for virtualenv; proposals welcome 👍

[2020-02-18 10:34] cjolowicz opened #1643 "RuntimeError: failed to find interpreter for Builtin discover of python_spec='python3.8'"
Nox does not find Python 3.8.1, even though it is present via `pyenv local`.

[code]

Setup:

- macOS
- Nox was installed via pipx.
- The system Python (3.7.6) was installed via Homebrew.

In the verbose output, the following line looks suspicious:

[code]

<details>
<summary>
Verbose output with traceback
</summary>

[code]
</details>

<details>
<summary>
Contents of ~/Library/Application Support

[2020-02-18 12:12] gaborbernat commented on #1643
Can you try deleting ``~/Library/Application Support/virtualenv`` and run again, see if it happens?

[2020-02-18 21:29] cjolowicz commented on #1643
I deleted `~/Library/Application Suppport/virtualenv` and tried again.

Same end result:

[code]

<details>
<summary>
Full command output
</summary>

[code]
</details>

This time the verbose output shows how the data is generated:

[code]

The resulting file with JSON file with PythonInfo for the pyenv shim looks okay to me though:

<details>
<summary>
Contents of ~/Library/Application Support/vir

[2020-02-19 00:02] gaborbernat commented on #1643
Can't understand easily what's wrong here, would you be available for some remote debugging in the following days? 😃

[2020-02-19 12:13] Gagi2k commented on #1549
@bersace It's still work in progress: https://codereview.qt-project.org/c/qt/qtivi/+/290859

The whole virtualenv 20 update causes way more problems than anticipated. Reusing the old functionality to make the scripts relocatable is not a big deal, but because it is now based on venv and with that pyvenv.cfg it gets way more complicated. E.g. on windows the old virtualenv copied a lot of base py fi

[2020-02-19 12:26] gaborbernat commented on #1549
@Gagi2k I'm sure I'm missing here something; but could you not just alter the ``pyenv.cfg`` ``hone`` as part of the install phase on a given machine?

virtual environments were designed to be always a reference to some python interpreter on a machine. The base assumption is that you have a fully working python environment on the machine, and you just want to have multiple separate ``site-packages`

[2020-02-19 12:46] Gagi2k commented on #1549
@gaborbernat Sure, that would work, the biggest problem is that most users are used to be able to just rename the folder after installation and it keeps working...
But i just found out that setting PYTHONHOME does the trick as well, atleast on windows i got it working without reference to the original installation.

pex looks interesting and i will look at that more closely, thx for the hint.

[2020-02-19 12:47] bersace commented on #1549
@gaborbernat still, how to build a virtualenv in a builddir and ship it in a .deb or .rpm ?

[2020-02-19 13:03] gaborbernat commented on #1549
Not sure why they expect this. This was never the case; even with the relocatable flag, it was true in a subset of the possible cases. Hence why it got axed with v20.

@bersace this depends on lot of your use case. Does the deb/rpm guarantee that python will be available in the same location on the target machine? If so just fixup the shebang paths during installation 👍

[2020-02-19 13:17] bersace commented on #1549
@gaborbernat depending on system python is enough to ensure python is on a specific location.

Modifying installed files on postinst is a very bad idea. This require to exclude all scripts from dpkg realm, thus dpkg wont touch them on upgrade. That's not acceptable.

AFIAK, the best solution would be a `virtualenv-change-prefix` that edit all shebangs to remove `destdir`, to be executed before arc

[2020-02-19 13:19] gaborbernat commented on #1549
@bersace and what would you set the shebangs to?

[2020-02-19 13:20] bersace commented on #1549
@gaborbernat the absolute shebang to target location. e.g. `#!/opt/company/app/venv/bin/python`.

[2020-02-19 13:25] gaborbernat commented on #1549
That would now imply that deploying that package to a new refroot other than ``/`` is now not supported, not?

[2020-02-19 13:41] bersace commented on #1549
@gaborbernat yes, by design. Files managed by dpkg/rpm must not be moved around by users.

[2020-02-19 13:42] bersace commented on #1549
This is somewhat different from `relocatable`. The purpose is not to make it *relative*, but to distinguish builddir (debian/build/... or %builddir) and rundir (/).

[2020-02-19 18:56] JonnyWaffles commented on #1632
Hi friends,

First time using tox and I too encountered this error on Windows with Python 3.7 and virtualenv 20.0.4

python-0.log

`action: python, msg: getenv
cwd: C:\Users\jfuller\PycharmProjects\deploytesting\.tox
cmd: 'c:\users\jfuller\pycharmprojects\deploytesting\venv\scripts\python.exe' -m virtualenv --no-download --python 'c:\users\jfuller\pycharmprojects\deploytesting\venv\scripts\python.

[2020-02-20 05:55] stevegomez17 opened #1645 "Beta"
Thanks for submitting an issue!

If submitting a BUG please provide:

- [ ] Minimal reproducible example or detailed descriptions
- [ ] the output of the virtual environment creation with the `-vvv --with-traceback` flags included
- [ ] `pip list` of the environment where virtualenv is installed into if not using the zipapp

if submitting an ENHANCEMENT issue:

- [ ] a clear problem statement with

[2020-02-20 08:26] #1645 closed

[2020-02-20 09:52] gaborbernat commented on #1352
This seems to be resolved with the rewrite.

[2020-02-20 09:52] #1352 closed

[2020-02-20 12:26] matthew-brett commented on #1555
Hi - just another plea for a fix for this one - it's causing some stress for those of us using CI to test Python 2.7 builds - see https://github.com/matthew-brett/multibuild/issues/305

Can I help to reproduce?

[2020-02-20 13:32] gaborbernat commented on #1555
If you can reproduce with a small example that would indeed help.

[2020-02-20 14:01] matthew-brett commented on #1555
Ouch - sorry - I can't even get that far:

[code]

gives:

[code]

[2020-02-20 14:21] gaborbernat commented on #1555
@matthew-brett for new we need to do #1561, have #1641 open for it, it's a WIP. That might fix it but not sure hence why opening this. That being said I haven't seen that error before 🤔

As someone who removed ``/Library/Frameworks/Python.framework/Versions/2.7/bin/python2.7`` any way to install it back?

[2020-02-20 14:28] matthew-brett commented on #1555
Does the `curl`, `installer` sequence above not reinstall that Python binary?

[2020-02-20 14:52] gaborbernat commented on #1555
It does thanks 👍

[2020-02-20 16:03] nsoranzo commented on #1555
@matthew-brett This looks similar to https://github.com/pypa/virtualenv/issues/1577 and what I saw in https://travis-ci.org/nsoranzo/galaxy/builds/649733024

[2020-02-20 16:22] gaborbernat commented on #1555
so looked into this; seems MacOs customizes framework builds so much that they just don't work without rewriting the mach-o (the magic from here https://github.com/pypa/virtualenv/blob/legacy/virtualenv.py#L2492-L2631); will take a while to get this done, but I'm on it 🤷‍♂

[2020-02-20 16:27] nsoranzo commented on #1555
@gaborbernat Thanks, let me know if you want me to test anything!

[2020-02-20 16:31] matthew-brett commented on #1555
Thanks too - likewise - let me know if I can help.

[2020-02-20 18:20] gaborbernat commented on #1555
Thanks, will let you know; maybe tomorrow at around now I'll have something ready.

[2020-02-20 20:12] cjolowicz commented on #1643
Unfortunately, for the next week or so it'll be difficult to schedule a time (but thanks :)).

What I have been able to find out so far is the following:

1. The PythonInfo for `~/.pyenv/shims/python3.8` points to the Python in the pipx environment for Nox as the `system_executable`:
[code]
2. The system executable is a symlink pointing to the Homebrew Python3 executable at `/usr/local/Cellar/pyth

[2020-02-20 20:18] gaborbernat commented on #1643
Wait what you're describing is that nox is running with the python 3.8 binary, but links to 3.7.6 on system level. We have a section describing this within our readme, see the warning,  https://virtualenv.pypa.io/en/latest/user_guide.html#python-discovery. we'll always use the system executable when you pass a python path, not the underlying pythons path. How did pipx created a python 3.8 env that

[2020-02-20 20:46] cjolowicz commented on #1643
I'm not sure I understand.

Nox is not running with a Python 3.8 binary. Nox (and pipx) are running under Python 3.7.6 from Homebrew:

| Tool | Shebang |
| --- | --- |
| /usr/local/bin/pipx | /usr/local/opt/python/bin/python3.7 |
| /Users/cjolowicz/.local/pipx/venvs/nox/bin/nox |  /usr/local/opt/python/bin/python3.7 |

The path in the shebang (`/usr/local/opt/python/bin/python3.7`) is a symlink to

[2020-02-20 21:01] gaborbernat commented on #1643
I guess the error here comes why does the python 3.8 shim says the system executable is noxs. We will need to debug the system executable detection algorithm within py info to find the answer. If you have some time throw a debugger at it and see what goes wrong, you may call py info file directly for this.

[2020-02-20 21:02] cjolowicz commented on #1643
Everything works just fine if I install Nox with pip instead of pipx, by the way.

[2020-02-20 21:04] cjolowicz commented on #1643
Ok will try this.

[2020-02-20 21:13] gaborbernat commented on #1643
Either here https://github.com/pypa/virtualenv/blob/master/src/virtualenv/discovery/py_info.py#L265 or https://github.com/pypa/virtualenv/blob/master/src/virtualenv/discovery/py_info.py#L93 is the bug 👍

[2020-02-20 22:47] cjolowicz commented on #1643
When run on its own, the py_info script produces the expected result:

[code]

But when run as a subprocess from virtualenv, we get the wrong system_executable:

[code]

For some strange reason, in the subprocess running `.pyenv/shims/python3.8`, `sys._base_executable` is set to `/Users/cjolowicz/.local/pipx/venvs/nox/bin/python` (i.e. the symlink to Homebrew's Python3.7).

https://github.com/pypa

[2020-02-20 23:11] Brettfodor opened #1646 "RuntimeError: failed to find interpreter for Builtin discover of python_spec='/usr/bin/python3'"
[root@rhel7 ]# virtualenv -p /usr/bin/python3 /usr/local/src/.python-venvs/python_v3.7
RuntimeError: failed to find interpreter for Builtin discover of python_spec='/usr/bin/python3'

I'm just trying to install a virtual environment on my Rhel 7 VM and it's giving me all sorts of issues.  This is likely not a "bug" but more just my lack of understanding on the topic.  Can anyone help?

[2020-02-20 23:44] gaborbernat commented on #1646
Looks like the python executable you specify via -p does not exist.

[2020-02-20 23:44] #1646 closed

[2020-02-21 05:57] ujinyoung opened #1647 "parse error or some name is wrong : -irtualenv"
os : macOS catalina

In locale home directory

I try this :
`pip freeze>tflist.txt`

but show :
`WARNING: Could not generate requirement for distribution -irtualenv 20.0.4 (/usr/local/lib/python3.7/site-packages): Parse error at "'-irtuale'": Expected W:(abcd...)
`

 and the file tflist.txt is generated, but empty.

I think 'virtualenv' is correct, but when I command 'pip list'
the result is :
[co

[2020-02-21 06:38] ujinyoung commented on #1647
when I try `pip freeze`
'-virtualenv', the worng name is not involved the ouput .
So I think maybe the `pip list` command is wrong and have some bug. etc. parse error..

I leave this issue, pip repo too.
pypa/pip#7763

[2020-02-21 09:19] cjolowicz commented on #1643
If I read the code correctly, `sys._base_executable` overrides how Python interpreters are identified, when we are running inside a virtual environment:

https://github.com/pypa/virtualenv/blob/5b88149cf4ed72bed1cf9dc90d7f979669154a02/src/virtualenv/discovery/py_info.py#L65

https://github.com/pypa/virtualenv/blob/5b88149cf4ed72bed1cf9dc90d7f979669154a02/src/virtualenv/discovery/py_info.py#L94-L10

[2020-02-21 09:31] cjolowicz commented on #1643
I guess there was still a missing link in the reasoning above.

Why does virtualenv think that the pyenv shim is run from inside a virtual environment? Only then would the logic with `sys._base_executable` be triggered.

The virtual environment is detected by comparing `sys.prefix` to `sys.base_prefix`. In the subprocess, `sys.prefix` is still determined by the parent process, while `sys.base_pref

[2020-02-21 09:42] gaborbernat commented on #1555
If anyone can give https://github.com/pypa/virtualenv/pull/1641 a try that would be great; seems to work for me locally but I might be missing something 🤷‍♂

[2020-02-21 09:53] matthew-brett commented on #1555
Works for me - thanks for the quick fix.

[2020-02-21 09:56] gaborbernat commented on #1555
The CI seems to still cough; I'll try to fix that to and then hopefully do a release late today.

[2020-02-21 09:57] matthew-brett commented on #1555
Great - thanks again.

[2020-02-21 10:43] cjolowicz commented on #1643
Looks like this is actually [bpo22490](https://bugs.python.org/issue22490). There is an open PR for this at https://github.com/python/cpython/pull/9516.

We can work around this issue by removing `__PYVENV_LAUNCHER__` from the environment before launching the subprocess: #1648

This is just the bare fix for now...

[2020-02-21 15:18] altendky opened #1649 "Pip not in PATH after activation on Windows+PyPy"
Only the scripts directory is added to PATH, not the bin directory.  While python and pypy are in scripts, pip and other entry points end up in bin.

I haven't reconciled the seemingly opposite behavior but I noticed this while documenting https://github.com/tox-dev/tox/issues/1532.

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-02-21 15:37] gaborbernat commented on #1649
Nothing we can do on our side here sadly, the issue is upstream see https://foss.heptapod.net/pypy/pypy/issues/3155

[2020-02-21 15:37] #1649 closed

[2020-02-21 15:42] altendky commented on #1649
Thanks, I'll keep an eye out over there.

[2020-02-21 15:44] gaborbernat commented on #1649
A workaround until a release comes is to use ``python -m pip`` instead of ``pip`` 👍

[2020-02-21 15:54] #1643 closed

[2020-02-21 15:56] gaborbernat commented on #1555
Should be fixed with https://github.com/pypa/virtualenv/pull/1641/files.

[2020-02-21 15:56] #1555 closed

[2020-02-21 15:57] gaborbernat commented on #740
Fixed with https://github.com/pypa/virtualenv/pull/1641 on python 2 👍

[2020-02-21 15:57] #740 closed

[2020-02-21 15:58] altendky commented on #1649
True, though the issue over in https://github.com/tox-dev/tox/issues/1532 isn't about anything I've written that I could change like that.  This report was an observation made while debugging that situation, not a direct problem itself.

[2020-02-21 16:24] nsoranzo commented on #1577
Fixed by #1641, thanks @gaborbernat !

For reference, the successful Travis build where package are correctly installed inside the virtual env and `pip` works as expected: https://travis-ci.org/nsoranzo/galaxy/builds/653525565

[2020-02-21 16:28] #1577 closed

[2020-02-21 16:33] gaborbernat commented on #1647
This doesn't seem like our issue but pip-s, thanks. If it turns out it's related to us we'll reopen.

[2020-02-21 16:33] #1647 closed

[2020-02-21 16:44] gaborbernat commented on #1643
Hello, a fix for this issue has been released via virtualenv 20.0.5; see https://pypi.org/project/virtualenv/20.0.5/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-5-2020-02-21) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-21 16:44] gaborbernat commented on #1633
Hello, a fix for this issue has been released via virtualenv 20.0.5; see https://pypi.org/project/virtualenv/20.0.5/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-5-2020-02-21) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-21 16:44] gaborbernat commented on #1624
Hello, a fix for this issue has been released via virtualenv 20.0.5; see https://pypi.org/project/virtualenv/20.0.5/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-5-2020-02-21) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-21 16:45] gaborbernat commented on #1621
Hello, a fix for this issue has been released via virtualenv 20.0.5; see https://pypi.org/project/virtualenv/20.0.5/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-5-2020-02-21) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-21 16:45] gaborbernat commented on #1614
Hello, a fix for this issue has been released via virtualenv 20.0.5; see https://pypi.org/project/virtualenv/20.0.5/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-5-2020-02-21) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-21 16:45] gaborbernat commented on #1612
Hello, a fix for this issue has been released via virtualenv 20.0.5; see https://pypi.org/project/virtualenv/20.0.5/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-5-2020-02-21) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-21 16:50] gaborbernat commented on #1561
Hello, a fix for this issue has been released via virtualenv 20.0.5; see https://pypi.org/project/virtualenv/20.0.5/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-5-2020-02-21) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-21 18:25] matthew-brett commented on #1555
Thanks - and thanks for the quick release to PyPI.

[2020-02-21 18:29] YannickJadoul commented on #1561
Thank you, @gaborbernat!

I'm trying out the new release at joerick/cibuildwheel#274, right now, and half of our problem is already gone (see first commit, succeedig). But something's still seems to be happening with the CircleCI build, running our tests in a virtualenv (see second commit, failing) :-/ I'll try to look further into it and see if I can make a minimal example.

[2020-02-21 18:38] gaborbernat commented on #1561
@YannickJadoul can't seem to understand what's happening in there, seems pypy and pypy3 is mixed in together making it hard to see what's happening. If you can create a minimal report that would be great.

[2020-02-21 19:25] rpkilby commented on #1561
Hi @gaborbernat. I've upgraded to virtualenv 20.0.5, but am still seeing this issue: https://github.com/pypa/virtualenv/issues/1561#issuecomment-584793979

[2020-02-21 19:27] gaborbernat commented on #1561
Can you post a fresh trace exposing the issue?

[2020-02-21 19:34] rpkilby commented on #1561
[code]

[2020-02-21 19:36] rpkilby commented on #1561
And for completeness

[code]

[2020-02-21 19:43] gaborbernat commented on #1561
The usual caveats apply add v three times to the creation so we can see what happened 👍

[2020-02-21 19:52] gaborbernat commented on #1561
Also in your case would help if you can display the -m site of virtual environment 👍 and the global python you're creating the venv from.

[2020-02-21 20:04] rpkilby commented on #1561
Note that I installed virtualenv with `pip3 install --user virtualenv` but am creating a Python 2 virtualenv.

[code]

Global Python 3 site (note: virtualenv is installed to my user directory using pip3)
[code]

Global Python 2 site:
[code]

venv site:
[code]

[2020-02-21 20:35] gaborbernat commented on #1561
Oh another differently customized python under System path this time 🤷‍♂️macOs is wonderful. If you install brew version that will work.

[2020-02-21 20:41] gaborbernat commented on #1561
Note for some reason we're picking up /usr/bin/python2.7, not the global python you're showcasing.

[2020-02-21 20:47] rpkilby commented on #1561
For context I've installed Python 3.7 via brew, but Python 2.7 is what shipped with Mojave.

It's just a symlink to the framework Python.

[code]

[2020-02-21 21:11] gaborbernat commented on #1561
I'm fairly certain the issue here is that site.py of the shipped python adds the global python to the sys path unconditionally (ignoring blatantly the enable global site packages flag within site.py 🤦‍♂️🤷‍♂️ macOS) so you're picking up things as that. We'll need to escape this in the custom shim site.py we ship 👍

[2020-02-21 21:18] rpkilby commented on #1561
Idk if it helps, but here are the contents of the site module.
<details>
<summary><code>/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site.py</code></summary>

[code]

</details>

[2020-02-21 21:24] gaborbernat commented on #1561
Yeah see the hardcoded part at

framework = get_config_var("PYTHONFRAMEWORK") if framework: sitepackages.append( os.path.join("/Library", framework, sys.version[:3], "site-packages"

[2020-02-21 23:19] YannickJadoul commented on #1561
@gaborbernat I've managed to reproduce my remaining issue in a simpler way:

[code]

<details><summary>Output</summary>
<p>

[code]

</p>
</details>

I think the main thing to notice in that whole output, is that when running PyPy 3.6, v7.3.0 from within pytest from within a virtualenv (oh yes, and somehow only on macOS), `-m site` gives this output:

[code]

while if I afterwards run the same com

[2020-02-21 23:51] asottile opened #1652 "[20.0.5] pypy 2.x site initialization strangeness"
This is affecting builds -- it makes pip fail in a strange way when invoking shlex:

[code]

virtualenv creation:

[code]

script difference:

[code]

[code]

the actual failure I'm seeing:

[code]

Investigation:

This seems to be the main difference:

[code]

leading to this difference:

[code]

[2020-02-22 07:55] gaborbernat commented on #1652
Seems strange, did you open an issue with pypy, could help to understand what's the difference between the two modules 🤔

[2020-02-22 09:02] gaborbernat commented on #1652
Some investigation, seems the meta path is different; but the paths otherwise the same.

[code]

[code]

[2020-02-22 09:14] gaborbernat commented on #1652
@asottile importing setuptools to patch it during after site.py loads is what causes this - https://github.com/pypa/virtualenv/blob/master/src/virtualenv/create/via_global_ref/builtin/python2/site.py#L164

[2020-02-22 12:33] gaborbernat commented on #1561
@rpkilby your issue should be addressed with https://github.com/pypa/virtualenv/pull/1653, can you validate? Thanks!

[2020-02-22 12:37] gaborbernat commented on #1561
@YannickJadoul you're issue is related with pypy, please open a separate issue for that; with a clearer description of what's expected and what happens 👍 this issue is mainly about CPython Framework builds on macOs.

[2020-02-22 12:48] #1561 closed

[2020-02-22 13:06] YannickJadoul opened #1654 "PyPy 3.6 running in macOS Python 3 virtualenv installs pip in wrong location"
Using `get-pip.py` to install `pip` in a PyPy 3.6 v7.3.0 installation from within pytest running in a macOS Python 3 virtualenv fails to install `pip` in the expected location (`pypy3.6-v7.3.0-osx64/bin/pip`), but instead installs it in the outer Python 3 virtualenv.

The following script manages to reproduce this on a mac I have access to.

[code]

<details><summary>Output</summary>
<p>

[code]

[2020-02-22 13:10] YannickJadoul commented on #1561
Yeah, sorry, I came across these two issues at the same time, so I kind of assumed they were linked. I've opened #1654 now, hopefully that's more clear :-)

[2020-02-22 13:12] YannickJadoul commented on #1654
Oh, worth noticing: is this maybe linked to #1652? That issue is about `site` as well, but for PyPy 2.7, so it's not clear.

[2020-02-22 13:59] gaborbernat commented on #1654
Did you try to see if using the venv instead of virtualenv gives you the same behaviour?

[2020-02-22 14:05] gaborbernat commented on #1654
We don't patch site.py for Python 3 so the issue is not related.

[2020-02-22 14:23] YannickJadoul commented on #1654
OK, will try that as well!

I've also just noticed I ran `python -v get-pip.py` instead of `python get-pip.py -v`. I've changed the output of the command, above!

[2020-02-22 16:22] gaborbernat commented on #1652
Looking at that file:

[code]

So I guess the question remain why is the built-in not discovered within the venv but is outside.

[2020-02-22 16:24] YannickJadoul commented on #1654
Tried out some more things:
- The same works on Linux; pip gets installed in the right location. `pypy3 -m site` is the same inside of a pytest test as outside of it.
- The same for Python 2 on macOS: this works, and `site` is correct, so it's linked to Python 3 on macOS.
- Using `ensurepip` instead of `get-pip.py` also fails; `pip` is installed in the wrong location, in the CPython 3 virtualenv,

[2020-02-22 16:27] gaborbernat commented on #1654
@YannickJadoul if that's the case please open an issue at https://foss.heptapod.net/pypy/pypy/issues; the problem is upstream not within virtualenv.

[2020-02-22 16:27] YannickJadoul commented on #1654
OK, even weirder: running `pypy3 -m site` gives different output before and after installing `pip` from within the pytest test:

[code]

[2020-02-22 16:28] YannickJadoul commented on #1654
OK, will do. Sorry for the inconvenience! :-/

[2020-02-22 16:28] #1654 closed

[2020-02-22 16:29] gaborbernat commented on #1654
Pre virtualenv 20 we used the python 2 methodologies to create virtual environments; which worked but caused a lot of maintainability issues and was more of a hack rather than a clean supported implementation.  With virtualenv 20 we're using the same methodology as upstream does; and as described in https://www.python.org/dev/peps/pep-0405/. This explains why things worked with older virtual envir

[2020-02-22 16:33] YannickJadoul commented on #1654
Thanks, @gaborbernat! That makes sense indeed :-)

Issue reported here: https://foss.heptapod.net/pypy/pypy/issues/3175

[2020-02-22 16:34] gaborbernat commented on #1600
@asottile what happened with the upstream issue; seems to lead to 404 🤔

[2020-02-22 16:59] gaborbernat commented on #1600
Anyways pushed a workaround now under https://github.com/pypa/virtualenv/pull/1655 until upstream allows doing this.

[2020-02-22 17:17] gaborbernat commented on #1600
Reported the feature request again upstream under the link https://bitbucket.org/pypa/distlib/issues/134/allow-specifying-the-version-information

[2020-02-22 17:43] #1600 closed

[2020-02-22 18:17] rpkilby commented on #1561
@gaborbernat #1653 seems to work :D

[2020-02-23 13:33] mattip commented on #1652
There is [this](https://foss.heptapod.net/pypy/pypy/blob/release-pypy2.7-v7.3.0/pypy/module/imp/importing.py#L555) in the pypy 2.7 code:
[code]
where `MODULES_THAT_ALWAYS_SHADOW` is defined

[code]

So by changing `sys.path[0]` which wass `path/to/lib_pypy/__extensions__` and is changed to `path/in/old/pypy/lib_pypy/__extensions__` in [`rewrite_standard_library_sys_path`](https://github.com/pypa/v

[2020-02-23 18:52] #1652 closed

[2020-02-24 09:17] gaborbernat commented on #1599
This is an interesting issue. Note though from my test this behaviour is the same if you would be using ``venv`` instead of ``virtualenv``; so the issue is probably upstream for CPython and as such I'd recommend opening an issue under https://bugs.python.org/. With virtualenv 20 our virtual environment creation now matches venv's method, hence why this now is discovered.

[2020-02-24 09:39] gaborbernat commented on #1599
So reading through https://www.python.org/dev/peps/pep-0405/#specification and thinking this through this kind of behaviour is no longer supported by design.

The python executable is no longer a copy of the host python (as was with the old virtualenv), but instead we just symlink it and we use the ``pyenv.cfg`` as marker for the virtual environment prefix. If you symlink a symlink with python 3+

[2020-02-24 09:39] #1599 closed

[2020-02-24 09:56] gaborbernat commented on #1635
With ``virtualenv 20`` we have changed the way we've been creating virtual environments. Instead of using our own brittle in-house mode we've switched to the official upstream mechanism as described in https://www.python.org/dev/peps/pep-0405/ (known as the ``venv`` module). The behaviour you're described here is present with that module too, so the bug per se is not here, but upstream within ``CP

[2020-02-24 11:56] nickjj commented on #1599
On my host, I'm using 3.6 so it seems at the Python level it's still supported.

[2020-02-24 12:43] gaborbernat commented on #1599
@nickjj not sure I follow, what do you mean at python level?

[2020-02-24 12:51] nickjj commented on #1599
In your TL;DR it sounded like you were saying Python itself doesn't support symlinking virtualenvs as of Python 3.4+, but as long as you stick to an older version of virtualenv / venv, symlinking virtualenvs works with Python 3.6.x and 3.8.x. So I was wondering if this is really a Python 3.4 issue, or a virtualenv / venv issue.

[2020-02-24 12:56] gaborbernat commented on #1599
Let me rephrase:

- venv (part of Python3.4 or later) never supported symlinking the python path,
- virtualenv 20 or later follow the venv standard, and does not support symlinking (and cannot),
- virtualenv <20 used a different mechanism to generate virtual environments that as a side effect supported symlinking; note virtualenv<20 is no longer maintained, but your use case still work with it.

I

[2020-02-24 13:00] nickjj commented on #1599
Thanks.

What's interesting is Ubuntu 20.04 and the next stable release of Buster that's still years away both continue to have virtualenv 15.1.x in their repos. So it sounds like as long as you apt install virtualenv, you'll be good to go for a few years at least.

[2020-02-24 13:02] gaborbernat commented on #1599
That might be true as long as you stick to ``apt-get`` things... but as soon as you start using pip you might be back here.

[2020-02-24 16:22] chrisrink10 opened #1658 "Unable to create virtualenv on CircleCI with Pipenv"
This morning as my team started pushing changes to CircleCI after the weekend, we started experiencing failures due to an issue that _appears_ to originate with the fix to https://github.com/pypa/virtualenv/issues/1561.

We have a CircleCI step (inside the image `circleci/python:3.8-buster`, using standard Linux builders) which does the following:

[code]

The output of which is:

[code]

I was ab

[2020-02-24 16:42] gaborbernat commented on #1658
This looks like pip is not being installed correctly; not sure why though. Note the import failed is definitely there https://github.com/pypa/virtualenv/blob/master/src/virtualenv/create/via_global_ref/builtin/cpython/cpython2.py#L53-L55 and I've checked that it's there in sdist/wheel. You're log says: `` Requirement already satisfied: virtualenv in /usr/local/lib/python3.8/site-packages (from pip

[2020-02-24 16:48] gaborbernat commented on #1658
[code]

Seems it's there, please put together a docker file that reproduces the issue.

[2020-02-24 17:48] #1658 closed

[2020-02-24 18:31] chrisrink10 commented on #1658
I tried pulling our dependencies again and it seems to have resolved. Must've been corrupted as you said. Thanks.

[2020-02-24 19:08] #1635 closed

[2020-02-25 10:28] gaborbernat opened #1663 "Scripts and bin in bad location"
Reporting the same bug here on MacOS, only I'm highlighting the old vs new-unexpected behavior in a (hopefully) easy reproduction case:

[code]

Now at this point I expect the python and pip "binaries" to be under `~/.mac-os-venv/bin/*`, but they now seem to be under `~/.mac-os-venv/<sourced-prefix>/bin/*`:

[code]

This behavior change messes with tools like `tox` that expect to have the `pip` bi

[2020-02-25 10:30] gaborbernat commented on #1663
@andrewegel can you validate if this is still an issue with ``virtualenv 20.0.5``?

[2020-02-25 10:31] gaborbernat commented on #1663
@arlaneenalra can you validate this no longer happens with master

[2020-02-25 10:44] #1632 closed

[2020-02-25 14:58] gaborbernat commented on #1663
I don't think this should be still the case, but if so we'll reopen.

[2020-02-25 17:02] arlaneenalra commented on #1663
This is definitely still happening:

[code]

[2020-02-25 17:04] andrewegel commented on #1663
@gaborbernat This is not fixed with `20.0.5`:

[code]

[2020-02-25 18:19] gaborbernat commented on #1663
What about master?

[2020-02-26 08:17] #1640 closed

[2020-02-26 12:41] gaborbernat commented on #1561
Hello, a fix for this issue has been released via virtualenv 20.0.6; see https://pypi.org/project/virtualenv/20.0.6/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-6-2020-02-26) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-26 12:41] gaborbernat commented on #1600
Hello, a fix for this issue has been released via virtualenv 20.0.6; see https://pypi.org/project/virtualenv/20.0.6/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-6-2020-02-26) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-26 12:41] gaborbernat commented on #1632
Hello, a fix for this issue has been released via virtualenv 20.0.6; see https://pypi.org/project/virtualenv/20.0.6/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-6-2020-02-26) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-26 12:41] gaborbernat commented on #1640
Hello, a fix for this issue has been released via virtualenv 20.0.6; see https://pypi.org/project/virtualenv/20.0.6/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-6-2020-02-26) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-26 12:41] gaborbernat commented on #1652
Hello, a fix for this issue has been released via virtualenv 20.0.6; see https://pypi.org/project/virtualenv/20.0.6/ (https://virtualenv.pypa.io/en/latest/changelog.html#v20-0-6-2020-02-26) . Please give a try and report back if your issue has not been addressed; if not, please comment here, and we'll reopen the ticket. We want to apologize for the inconvenience this has caused you and say thanks

[2020-02-26 13:18] systemlogic opened #1667 "Virtual environment creation stop working."
@gaborbernat
**Issue**
From last commit in the virtualenv our environment is stop working.

**Environment**

Provide at least:
- OS: Ubuntu
- ``pip list`` of the host python where ``virtualenv`` is installed:

[code]

**Output of the virtual environment creation**

Make sure to run the creation with `-vvv --with-traceback`:

[code]

[2020-02-26 13:22] gaborbernat commented on #1667
distlib is a dependency now, not sure how you install virtualenv that it doesn't get pulled in by pip, but check your install log

[2020-02-26 13:23] #1667 closed

[2020-02-26 13:34] jd opened #1668 "16.7.10 has been published but not tagged"
Version 16.7.10 has been published on PyPI: https://pypi.org/project/virtualenv/16.7.10/

However there is no tag for this version in the git repository: https://github.com/pypa/virtualenv/tags

[2020-02-26 13:55] gaborbernat commented on #1668
https://github.com/pypa/virtualenv/releases/tag/16.7.10

[2020-02-26 13:55] #1668 closed

[2020-02-26 14:51] La0 opened #1669 "pip install break with 20.0.6 within virtualenv"
**Issue**

Installing [black](https://github.com/psf/black) from source in a new virtualenv does not work anymore, and throws an error `No module named pip`

**Environment**

Docker image `python:3.7`

[code]

**Output of the virtual environment creation**

[code]

Running the [following script](https://gist.github.com/La0/16ce11de25aaa8aae9068c53ac84683f/029adec2bfe0344ffe89cd3e34efed4b1a8980e7)

[2020-02-26 14:52] gaborbernat commented on #1669
This is upstream bug https://github.com/pypa/pip/issues/7778

[2020-02-26 14:53] jd opened #1670 "sys.path rewrite in Python 2 regression"
Version >= 20.0.0 of virtualenv changed the way `sys.path` is modified by the `site.py` file (at least for Linux). That breaks at least one of our test cases.

When `PYTHONPATH` is set to a directory that is inside virtualenv and starts with `sys.prefix` it's rewritten to target the `sys.base_prefix`.

The problem is that is the directory might not be part of the standard library nor install in py

[2020-02-26 14:56] La0 commented on #1669
Actually `pip install black` works OK, it's only when installing from source that it breaks:

[code]

[2020-02-26 14:56] jd commented on #1670
Here's how to reproduce:

[code]

(reproducible on macOS)

[2020-02-26 14:57] La0 commented on #1669
Glad you're aware of the issue. So if i [understand correctly this comment](https://github.com/pypa/pip/issues/7778#issuecomment-591465487), this is broken on purpose, and need to wait for a fix on pip itself ?

[2020-02-26 14:57] gaborbernat commented on #1670
An oversight on our side, we should skip PYTHONPATH paths here https://github.com/pypa/virtualenv/blob/master/src/virtualenv/create/via_global_ref/builtin/python2/site.py#L90

[2020-02-26 14:58] gaborbernat commented on #1670
@jd can you make a PR addressing the issue?

[2020-02-26 14:58] jd commented on #1670
@gaborbernat sure, let me do that

[2020-02-26 15:01] gaborbernat commented on #1669
Broken on purpose, I don't think so, but it's a bug within pip isolated build logic that has been there since it was implemented.

[2020-02-26 15:07] gaborbernat commented on #1669
Keeping this issue open, in case we might need to stop generating the pth file until pip fixes that issue and does a release (a workaround for the problem not manifesting as upfront).

[2020-02-26 15:25] jd commented on #1670
Two things:

1. the current code uses `startswith` which can trigger a different set of problem:
[code]
This is clearly wrong. `startswith` cannot be used with paths, it's too naive.

2. I can't write code that bypass `PYTHONPATH` because it'd need to access `os.environ` and `os` cannot be loaded until the `sys.path` rewrites happen.

Hint?